@font-face {
  font-family: 'neu';
  src:  url('fonts/neu.eot?buqhvr');
  src:  url('fonts/neu.eot?buqhvr#iefix') format('embedded-opentype'),
    url('fonts/neu.ttf?buqhvr') format('truetype'),
    url('fonts/neu.woff?buqhvr') format('woff'),
    url('fonts/neu.svg?buqhvr#neu') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'neu' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ni-ac:before {
  content: "\ec61";
}
.ni-accessibility:before {
  content: "\e93f";
}
.ni-activity:before {
  content: "\eb4f";
}
.ni-add:before {
  content: "\ebe0";
}
.ni-add-bracket:before {
  content: "\ec98";
}
.ni-add-call:before {
  content: "\eb6c";
}
.ni-add-circle:before {
  content: "\eb50";
}
.ni-add-file:before {
  content: "\eca2";
}
.ni-add-folder:before {
  content: "\ec99";
}
.ni-add-group:before {
  content: "\ea0e";
}
.ni-add-lg:before {
  content: "\eb4e";
}
.ni-add-node:before {
  content: "\e98c";
}
.ni-add-price-tag:before {
  content: "\ed01";
}
.ni-add-profile:before {
  content: "\ea0f";
}
.ni-adjustment-horizontal:before {
  content: "\eb51";
}
.ni-adjustment-horizontal-2:before {
  content: "\eb53";
}
.ni-adjustment-horizontal-3:before {
  content: "\ebfc";
}
.ni-adjustment-vertical:before {
  content: "\eb52";
}
.ni-adjustment-vertical-2:before {
  content: "\eb58";
}
.ni-adjustment-vertical-3:before {
  content: "\ebfd";
}
.ni-affiliate:before {
  content: "\e946";
}
.ni-affiliate-2:before {
  content: "\e947";
}
.ni-affiliate-3:before {
  content: "\e948";
}
.ni-air-baloon:before {
  content: "\ea31";
}
.ni-airplane:before {
  content: "\ea43";
}
.ni-airplay:before {
  content: "\eb59";
}
.ni-alarm:before {
  content: "\eb7d";
}
.ni-alert:before {
  content: "\ebd5";
}
.ni-alert-off:before {
  content: "\ebd2";
}
.ni-alien:before {
  content: "\eaae";
}
.ni-align-center:before {
  content: "\ea4b";
}
.ni-align-justify:before {
  content: "\ea5a";
}
.ni-align-left:before {
  content: "\ea4c";
}
.ni-align-right:before {
  content: "\ea4d";
}
.ni-all-out:before {
  content: "\e98d";
}
.ni-alphabet:before {
  content: "\ea55";
}
.ni-ambulance:before {
  content: "\eb0e";
}
.ni-amusement-park:before {
  content: "\e978";
}
.ni-anchor:before {
  content: "\eb5a";
}
.ni-android:before {
  content: "\ea6d";
}
.ni-anemometer:before {
  content: "\e9dc";
}
.ni-animation:before {
  content: "\e98e";
}
.ni-announcer:before {
  content: "\eb04";
}
.ni-announcer-ui:before {
  content: "\ebff";
}
.ni-announcer-ui-2:before {
  content: "\ec00";
}
.ni-apartment:before {
  content: "\e979";
}
.ni-apartment-hotel:before {
  content: "\e97a";
}
.ni-apple:before {
  content: "\ec7a";
}
.ni-apron:before {
  content: "\eb30";
}
.ni-archive:before {
  content: "\eb5b";
}
.ni-arrow:before {
  content: "\e9aa";
}
.ni-arrow-down-lg:before {
  content: "\e91b";
}
.ni-arrow-down-md:before {
  content: "\e91a";
}
.ni-arrow-down-sm:before {
  content: "\e919";
}
.ni-arrow-down-triangle:before {
  content: "\e92f";
}
.ni-arrow-left-lg:before {
  content: "\e925";
}
.ni-arrow-left-md:before {
  content: "\e926";
}
.ni-arrow-left-sm:before {
  content: "\e927";
}
.ni-arrow-left-triangle:before {
  content: "\e92e";
}
.ni-arrow-right-lg:before {
  content: "\e92a";
}
.ni-arrow-right-md:before {
  content: "\e929";
}
.ni-arrow-right-sm:before {
  content: "\e928";
}
.ni-arrow-right-triangle:before {
  content: "\e930";
}
.ni-arrow-turn-left:before {
  content: "\e921";
}
.ni-arrow-turn-left-rectangle:before {
  content: "\e92c";
}
.ni-arrow-turn-right:before {
  content: "\e920";
}
.ni-arrow-turn-right-rectangle:before {
  content: "\e92b";
}
.ni-arrow-up-lg:before {
  content: "\e91e";
}
.ni-arrow-up-md:before {
  content: "\e91d";
}
.ni-arrow-up-sm:before {
  content: "\e91c";
}
.ni-arrow-up-triangle:before {
  content: "\e92d";
}
.ni-asteroid:before {
  content: "\eaaf";
}
.ni-astronaut:before {
  content: "\eab0";
}
.ni-attachment:before {
  content: "\eb5c";
}
.ni-attachment-2:before {
  content: "\eb5d";
}
.ni-audio:before {
  content: "\eae3";
}
.ni-audio-beat:before {
  content: "\eae5";
}
.ni-audio-ui:before {
  content: "\eb5e";
}
.ni-audio-wave:before {
  content: "\eae4";
}
.ni-audio-wave-2:before {
  content: "\eb0c";
}
.ni-avocado:before {
  content: "\ec7b";
}
.ni-baby:before {
  content: "\ea10";
}
.ni-bacon:before {
  content: "\ec7c";
}
.ni-bacon-2:before {
  content: "\ec7d";
}
.ni-badminton:before {
  content: "\ea8c";
}
.ni-badminton-ball:before {
  content: "\ea8b";
}
.ni-balloon:before {
  content: "\ec16";
}
.ni-band-aid:before {
  content: "\eb0f";
}
.ni-band-aid-2:before {
  content: "\eb10";
}
.ni-bank:before {
  content: "\e949";
}
.ni-bar:before {
  content: "\eb60";
}
.ni-bar-2:before {
  content: "\eb61";
}
.ni-bar-3:before {
  content: "\ebfa";
}
.ni-bar-4:before {
  content: "\ebfb";
}
.ni-barbecue:before {
  content: "\eb31";
}
.ni-barbecue-2:before {
  content: "\eb32";
}
.ni-barcode:before {
  content: "\ecf6";
}
.ni-baseball:before {
  content: "\ea8d";
}
.ni-basket:before {
  content: "\eb62";
}
.ni-basketball:before {
  content: "\ea8e";
}
.ni-basketball-jersey:before {
  content: "\ecc6";
}
.ni-basketball-ring:before {
  content: "\ea8f";
}
.ni-bat:before {
  content: "\e900";
}
.ni-bath-tube:before {
  content: "\ec62";
}
.ni-battery-charging:before {
  content: "\eb63";
}
.ni-battery-full:before {
  content: "\eb65";
}
.ni-battery-half:before {
  content: "\eb64";
}
.ni-beach-table:before {
  content: "\ec78";
}
.ni-bear:before {
  content: "\e901";
}
.ni-bed:before {
  content: "\ec63";
}
.ni-beer-glass:before {
  content: "\ec89";
}
.ni-belt:before {
  content: "\ecb3";
}
.ni-bike:before {
  content: "\ea33";
}
.ni-bike-2:before {
  content: "\ea34";
}
.ni-bikini:before {
  content: "\ecb4";
}
.ni-bill:before {
  content: "\e94a";
}
.ni-billiard:before {
  content: "\ea90";
}
.ni-binary:before {
  content: "\e98f";
}
.ni-bird:before {
  content: "\e908";
}
.ni-black-pepper:before {
  content: "\eb45";
}
.ni-blackhole:before {
  content: "\eab1";
}
.ni-blank:before {
  content: "\e9ac";
}
.ni-blank-canvas:before {
  content: "\e950";
}
.ni-blank-file:before {
  content: "\eca4";
}
.ni-blender:before {
  content: "\eb33";
}
.ni-blind-eyes:before {
  content: "\e937";
}
.ni-blink-eye-emoji:before {
  content: "\ecde";
}
.ni-block-toys:before {
  content: "\ec49";
}
.ni-blood:before {
  content: "\eb11";
}
.ni-bluetooth:before {
  content: "\eb66";
}
.ni-boat:before {
  content: "\ea35";
}
.ni-bold:before {
  content: "\ea4e";
}
.ni-bomb:before {
  content: "\ec4a";
}
.ni-bone:before {
  content: "\e902";
}
.ni-bone1:before {
  content: "\ec17";
}
.ni-book:before {
  content: "\eb68";
}
.ni-book-open:before {
  content: "\eb67";
}
.ni-book-open-file:before {
  content: "\ec9a";
}
.ni-bookmark:before {
  content: "\eb69";
}
.ni-bookmark1:before {
  content: "\ec9b";
}
.ni-boots:before {
  content: "\ecb5";
}
.ni-bottle:before {
  content: "\ec7e";
}
.ni-bowl:before {
  content: "\eb34";
}
.ni-bowling:before {
  content: "\ea92";
}
.ni-bowling-ball:before {
  content: "\ea91";
}
.ni-bowtie:before {
  content: "\ecb6";
}
.ni-bowtie-holiday:before {
  content: "\ec18";
}
.ni-box-shipping:before {
  content: "\ecf8";
}
.ni-box-vacuum:before {
  content: "\eab2";
}
.ni-boxing:before {
  content: "\ea93";
}
.ni-boy:before {
  content: "\ea18";
}
.ni-bra:before {
  content: "\ecb7";
}
.ni-braidshirt:before {
  content: "\eccd";
}
.ni-brain:before {
  content: "\eb12";
}
.ni-bread:before {
  content: "\ec80";
}
.ni-bread-toaster:before {
  content: "\eb35";
}
.ni-brightness:before {
  content: "\eb6a";
}
.ni-browse:before {
  content: "\eb6b";
}
.ni-browse-2:before {
  content: "\ebee";
}
.ni-brush:before {
  content: "\e9ad";
}
.ni-bucket:before {
  content: "\eb36";
}
.ni-building:before {
  content: "\e97b";
}
.ni-bulleted-list:before {
  content: "\ea4f";
}
.ni-bulleted-list-2:before {
  content: "\ea50";
}
.ni-burger:before {
  content: "\ec81";
}
.ni-bus:before {
  content: "\ea36";
}
.ni-bus-front:before {
  content: "\ea37";
}
.ni-cabin-house:before {
  content: "\e97c";
}
.ni-calculator:before {
  content: "\e94f";
}
.ni-calling:before {
  content: "\eb6d";
}
.ni-camera:before {
  content: "\eb70";
}
.ni-candle:before {
  content: "\ec19";
}
.ni-capsule:before {
  content: "\eb13";
}
.ni-capture:before {
  content: "\e9af";
}
.ni-capture1:before {
  content: "\eb71";
}
.ni-car:before {
  content: "\ea39";
}
.ni-car-box-shipping:before {
  content: "\ed06";
}
.ni-car-front:before {
  content: "\ea3a";
}
.ni-car-wheel:before {
  content: "\ea94";
}
.ni-card-game:before {
  content: "\ec4b";
}
.ni-cart:before {
  content: "\eb72";
}
.ni-cart-2:before {
  content: "\eb73";
}
.ni-cash:before {
  content: "\e954";
}
.ni-cassette-tape:before {
  content: "\eae6";
}
.ni-cassette-tape-2:before {
  content: "\eb07";
}
.ni-cast:before {
  content: "\eb74";
}
.ni-cat:before {
  content: "\e903";
}
.ni-celsius:before {
  content: "\e9dd";
}
.ni-chair:before {
  content: "\ec65";
}
.ni-chair-rounded:before {
  content: "\ec66";
}
.ni-chart-pie:before {
  content: "\e956";
}
.ni-chart-pie-ui:before {
  content: "\ebdd";
}
.ni-chat:before {
  content: "\eb76";
}
.ni-chat-bubble:before {
  content: "\eb75";
}
.ni-chat-bubble-plain:before {
  content: "\eb77";
}
.ni-chat-plain:before {
  content: "\eb78";
}
.ni-chat-plain-2:before {
  content: "\eb79";
}
.ni-check:before {
  content: "\eb7a";
}
.ni-cheer-up-emoji:before {
  content: "\ecdf";
}
.ni-chef-hat:before {
  content: "\eb37";
}
.ni-chemical:before {
  content: "\eb28";
}
.ni-cherry:before {
  content: "\ec82";
}
.ni-chess-castle:before {
  content: "\e955";
}
.ni-chess-pioneer:before {
  content: "\ec4c";
}
.ni-chevron:before {
  content: "\e91f";
}
.ni-chicken:before {
  content: "\e904";
}
.ni-christmas-lamp:before {
  content: "\ec28";
}
.ni-christmas-tree:before {
  content: "\ec30";
}
.ni-church:before {
  content: "\e97d";
}
.ni-city-building:before {
  content: "\e97e";
}
.ni-clock-2:before {
  content: "\eb7e";
}
.ni-close:before {
  content: "\ec12";
}
.ni-close-circle:before {
  content: "\ec13";
}
.ni-close-lg:before {
  content: "\eb80";
}
.ni-cloud-landscape:before {
  content: "\e9e5";
}
.ni-cloud-moon:before {
  content: "\e9e0";
}
.ni-cloud-rain:before {
  content: "\e9f3";
}
.ni-cloud-rain-2:before {
  content: "\e9f4";
}
.ni-cloud-rain-3:before {
  content: "\e9f5";
}
.ni-cloud-snow:before {
  content: "\e9fa";
}
.ni-cloud-ui:before {
  content: "\eb81";
}
.ni-cloud-weather:before {
  content: "\e9de";
}
.ni-cloud-weather-2:before {
  content: "\e9e6";
}
.ni-clover:before {
  content: "\eacb";
}
.ni-cmd:before {
  content: "\eb82";
}
.ni-code:before {
  content: "\ea51";
}
.ni-coffee:before {
  content: "\eb39";
}
.ni-coffee-cup:before {
  content: "\ec83";
}
.ni-coffee1:before {
  content: "\ec85";
}
.ni-coffin:before {
  content: "\ec1a";
}
.ni-coin:before {
  content: "\e957";
}
.ni-coin-2:before {
  content: "\e958";
}
.ni-collapse:before {
  content: "\ebf9";
}
.ni-color-hex:before {
  content: "\e9b0";
}
.ni-comet:before {
  content: "\eab3";
}
.ni-company:before {
  content: "\e97f";
}
.ni-compare:before {
  content: "\e990";
}
.ni-compass:before {
  content: "\eb83";
}
.ni-compress:before {
  content: "\e9b1";
}
.ni-computer-settings:before {
  content: "\ea6e";
}
.ni-cone:before {
  content: "\ec84";
}
.ni-contact-book:before {
  content: "\e959";
}
.ni-cool-emoji:before {
  content: "\ece0";
}
.ni-cool-emoji-2:before {
  content: "\ecef";
}
.ni-copy:before {
  content: "\eb84";
}
.ni-corgi:before {
  content: "\e907";
}
.ni-couch:before {
  content: "\ec73";
}
.ni-couple:before {
  content: "\e93b";
}
.ni-couple-love:before {
  content: "\ea11";
}
.ni-cow:before {
  content: "\e905";
}
.ni-crab:before {
  content: "\e906";
}
.ni-credit-card:before {
  content: "\ecfa";
}
.ni-credit-card-2:before {
  content: "\ecfb";
}
.ni-crescent:before {
  content: "\e9ea";
}
.ni-cricket:before {
  content: "\ea95";
}
.ni-crop:before {
  content: "\e9b2";
}
.ni-crown:before {
  content: "\ec4e";
}
.ni-cupboard:before {
  content: "\ec67";
}
.ni-cupboard-2:before {
  content: "\ec68";
}
.ni-cupboard-3:before {
  content: "\ec6a";
}
.ni-cupboard-4:before {
  content: "\ec6b";
}
.ni-cupboard-long:before {
  content: "\ec69";
}
.ni-customer-service:before {
  content: "\ea1e";
}
.ni-cut:before {
  content: "\eb87";
}
.ni-cvv:before {
  content: "\ecf9";
}
.ni-dashboard-layout:before {
  content: "\e991";
}
.ni-data-check:before {
  content: "\e992";
}
.ni-data-transfer:before {
  content: "\ea6f";
}
.ni-data-usage:before {
  content: "\e993";
}
.ni-database:before {
  content: "\ea70";
}
.ni-database-settings:before {
  content: "\ea78";
}
.ni-database-ui:before {
  content: "\ebf5";
}
.ni-date:before {
  content: "\eb88";
}
.ni-day-rain:before {
  content: "\e9fd";
}
.ni-day-storm:before {
  content: "\e9fc";
}
.ni-dead-emoji:before {
  content: "\ece1";
}
.ni-decoration:before {
  content: "\ec1b";
}
.ni-delete:before {
  content: "\eb89";
}
.ni-delete-2:before {
  content: "\ec08";
}
.ni-delete-3:before {
  content: "\ec09";
}
.ni-delete-file:before {
  content: "\eca3";
}
.ni-delete-folder:before {
  content: "\ec9c";
}
.ni-delete-node:before {
  content: "\e994";
}
.ni-delete-price-tag:before {
  content: "\ed02";
}
.ni-delete-profile:before {
  content: "\ea12";
}
.ni-description:before {
  content: "\eb8a";
}
.ni-description-2:before {
  content: "\eb8b";
}
.ni-devil-emoji:before {
  content: "\ece2";
}
.ni-diagram-venn:before {
  content: "\e995";
}
.ni-diamond-game:before {
  content: "\ec4f";
}
.ni-diamond-jewel:before {
  content: "\ecb9";
}
.ni-direction-move:before {
  content: "\ec34";
}
.ni-disappointed-emoji:before {
  content: "\ece3";
}
.ni-discount:before {
  content: "\e95a";
}
.ni-dish:before {
  content: "\eb3a";
}
.ni-disk:before {
  content: "\eb8c";
}
.ni-display-capture:before {
  content: "\ebeb";
}
.ni-divide:before {
  content: "\e9b4";
}
.ni-dna:before {
  content: "\eb15";
}
.ni-doctor:before {
  content: "\eb17";
}
.ni-doctor-bag:before {
  content: "\eb16";
}
.ni-document-approved:before {
  content: "\e95b";
}
.ni-document-office:before {
  content: "\e95c";
}
.ni-documents:before {
  content: "\eca8";
}
.ni-dog:before {
  content: "\ec23";
}
.ni-dollar:before {
  content: "\e95d";
}
.ni-donut:before {
  content: "\ec87";
}
.ni-door:before {
  content: "\ec6c";
}
.ni-download:before {
  content: "\eb8e";
}
.ni-download-bracket:before {
  content: "\eb8d";
}
.ni-drag-indicator:before {
  content: "\e996";
}
.ni-drawer:before {
  content: "\e95e";
}
.ni-drawer-file:before {
  content: "\ec9f";
}
.ni-drawer-file-2:before {
  content: "\eca0";
}
.ni-drawer-file-3:before {
  content: "\eca1";
}
.ni-drawing-tablet:before {
  content: "\ea71";
}
.ni-drone:before {
  content: "\ea72";
}
.ni-drop:before {
  content: "\ec0f";
}
.ni-drugs:before {
  content: "\eb19";
}
.ni-earphone:before {
  content: "\eae8";
}
.ni-earrings:before {
  content: "\ecbb";
}
.ni-earth:before {
  content: "\eab4";
}
.ni-easter-egg:before {
  content: "\ec1c";
}
.ni-easter-egg-2:before {
  content: "\ec1d";
}
.ni-easter-egg-3:before {
  content: "\ec1e";
}
.ni-easter-egg-4:before {
  content: "\ec1f";
}
.ni-easter-egg-5:before {
  content: "\ec20";
}
.ni-eclipse-tool:before {
  content: "\e9b5";
}
.ni-edit:before {
  content: "\ea53";
}
.ni-edit-circle-ui:before {
  content: "\ebd9";
}
.ni-edit-path:before {
  content: "\e9b6";
}
.ni-edit-profile:before {
  content: "\ea13";
}
.ni-edit-stroke:before {
  content: "\e9ca";
}
.ni-edit-text:before {
  content: "\ea52";
}
.ni-edit-ui:before {
  content: "\eb90";
}
.ni-edit-ui-2:before {
  content: "\eb92";
}
.ni-egg:before {
  content: "\ec88";
}
.ni-email:before {
  content: "\eb93";
}
.ni-emoji:before {
  content: "\eb94";
}
.ni-energy:before {
  content: "\eb95";
}
.ni-energy-drink:before {
  content: "\ea96";
}
.ni-envelope:before {
  content: "\e95f";
}
.ni-equalizer:before {
  content: "\eae9";
}
.ni-escalator-down:before {
  content: "\e942";
}
.ni-escalator-up:before {
  content: "\e943";
}
.ni-euro:before {
  content: "\e960";
}
.ni-expand-lg:before {
  content: "\e924";
}
.ni-expand-md:before {
  content: "\e923";
}
.ni-expand-sm:before {
  content: "\e922";
}
.ni-expand-user:before {
  content: "\ea14";
}
.ni-extension:before {
  content: "\e997";
}
.ni-external:before {
  content: "\eb97";
}
.ni-external-link:before {
  content: "\ebbc";
}
.ni-eye:before {
  content: "\eb99";
}
.ni-eye-glasses:before {
  content: "\ecbc";
}
.ni-eye-off:before {
  content: "\eb98";
}
.ni-eye-patch-emoji:before {
  content: "\ecea";
}
.ni-eye-plus:before {
  content: "\e93a";
}
.ni-eyedropper-tool:before {
  content: "\e9b7";
}
.ni-face-scanner:before {
  content: "\eb9b";
}
.ni-face-scanner-2:before {
  content: "\eb9c";
}
.ni-factory:before {
  content: "\e980";
}
.ni-fahrenheit:before {
  content: "\e9e9";
}
.ni-faq:before {
  content: "\ebe3";
}
.ni-faq-file:before {
  content: "\eca5";
}
.ni-favorite-profile:before {
  content: "\ea17";
}
.ni-feather:before {
  content: "\eac7";
}
.ni-fencing:before {
  content: "\ea98";
}
.ni-ferris-wheel:before {
  content: "\e985";
}
.ni-file-check:before {
  content: "\ec9d";
}
.ni-file-down:before {
  content: "\ec9e";
}
.ni-file-plain-ui:before {
  content: "\eb9e";
}
.ni-file-structure:before {
  content: "\e9c4";
}
.ni-file-structure-2:before {
  content: "\e9c5";
}
.ni-file-ui:before {
  content: "\eb9d";
}
.ni-filter-descending:before {
  content: "\eb9f";
}
.ni-filter-descending-2:before {
  content: "\eba0";
}
.ni-filter-tube:before {
  content: "\eba1";
}
.ni-fingerprint:before {
  content: "\eba2";
}
.ni-finish-flag:before {
  content: "\ea99";
}
.ni-fire:before {
  content: "\ec50";
}
.ni-fire-camp:before {
  content: "\eac8";
}
.ni-fireworks:before {
  content: "\ec21";
}
.ni-fish:before {
  content: "\e90a";
}
.ni-fish-bone:before {
  content: "\e909";
}
.ni-flag-finish:before {
  content: "\ea9a";
}
.ni-flag-ui:before {
  content: "\eba3";
}
.ni-flag-ui-2:before {
  content: "\eba4";
}
.ni-flame:before {
  content: "\eac9";
}
.ni-flower:before {
  content: "\eaca";
}
.ni-folder-file:before {
  content: "\eca9";
}
.ni-folder-structure:before {
  content: "\e9c6";
}
.ni-folder-ui:before {
  content: "\eba5";
}
.ni-font:before {
  content: "\ea6b";
}
.ni-font-size:before {
  content: "\ea54";
}
.ni-font-size1:before {
  content: "\ea56";
}
.ni-food-scale:before {
  content: "\eb49";
}
.ni-football-arena:before {
  content: "\ea9b";
}
.ni-free-transform:before {
  content: "\e9d4";
}
.ni-gallery:before {
  content: "\e9cd";
}
.ni-gallery-2:before {
  content: "\ea58";
}
.ni-gallery-ui:before {
  content: "\ebb1";
}
.ni-game-console:before {
  content: "\ec51";
}
.ni-game-console-2:before {
  content: "\ec52";
}
.ni-game-controller:before {
  content: "\ec4d";
}
.ni-gas-station:before {
  content: "\ea3c";
}
.ni-geek-emoji:before {
  content: "\ece4";
}
.ni-ghost:before {
  content: "\ec54";
}
.ni-gift:before {
  content: "\eba6";
}
.ni-gift-box:before {
  content: "\ec24";
}
.ni-glass:before {
  content: "\eb3b";
}
.ni-glass-food:before {
  content: "\ec8a";
}
.ni-glass-holiday:before {
  content: "\ec25";
}
.ni-glass-wine:before {
  content: "\eb3c";
}
.ni-globe:before {
  content: "\e961";
}
.ni-glove:before {
  content: "\ec26";
}
.ni-gold:before {
  content: "\e962";
}
.ni-golf:before {
  content: "\ea9c";
}
.ni-golf-stick:before {
  content: "\ea9d";
}
.ni-grape:before {
  content: "\ec8b";
}
.ni-grater:before {
  content: "\eb3d";
}
.ni-grave:before {
  content: "\ec27";
}
.ni-grocery-bag:before {
  content: "\ecfc";
}
.ni-group:before {
  content: "\ea16";
}
.ni-group-chat:before {
  content: "\ea15";
}
.ni-half-moon:before {
  content: "\e9ed";
}
.ni-hamburger-menu:before {
  content: "\eba7";
}
.ni-hand-gesture-ui:before {
  content: "\eba8";
}
.ni-happy-emoji:before {
  content: "\ece5";
}
.ni-happy-new-year:before {
  content: "\ec22";
}
.ni-hat:before {
  content: "\ecbe";
}
.ni-health-scanner:before {
  content: "\eb2b";
}
.ni-heart-rate:before {
  content: "\eb0d";
}
.ni-heart-rate1:before {
  content: "\eb1a";
}
.ni-helicopter:before {
  content: "\ea3d";
}
.ni-helmet:before {
  content: "\ea3e";
}
.ni-helmet-2:before {
  content: "\ea3f";
}
.ni-helmet-game:before {
  content: "\ec55";
}
.ni-help:before {
  content: "\ebbb";
}
.ni-hide-keyboard:before {
  content: "\ea57";
}
.ni-high-heels:before {
  content: "\ecc0";
}
.ni-hockey:before {
  content: "\eaa0";
}
.ni-hold:before {
  content: "\ec35";
}
.ni-hold-hand-ui:before {
  content: "\ebaa";
}
.ni-holiday-bag:before {
  content: "\ec29";
}
.ni-home:before {
  content: "\ebab";
}
.ni-home-2:before {
  content: "\ebac";
}
.ni-home-3:before {
  content: "\ebad";
}
.ni-home-4:before {
  content: "\ebae";
}
.ni-home-5:before {
  content: "\ebaf";
}
.ni-hoodie:before {
  content: "\ecc1";
}
.ni-horizontal-align-center:before {
  content: "\e9b8";
}
.ni-horizontal-align-left:before {
  content: "\e9b9";
}
.ni-horizontal-align-right:before {
  content: "\e9ba";
}
.ni-horizontal-scroll:before {
  content: "\e935";
}
.ni-horizontal-split:before {
  content: "\e998";
}
.ni-hospital:before {
  content: "\eb1b";
}
.ni-hospital-2:before {
  content: "\eb1c";
}
.ni-hotdog:before {
  content: "\ec8c";
}
.ni-hotel:before {
  content: "\e963";
}
.ni-hue-saturation:before {
  content: "\e9bb";
}
.ni-humidity:before {
  content: "\e9e7";
}
.ni-ice-coffee:before {
  content: "\ec8d";
}
.ni-image:before {
  content: "\e9bc";
}
.ni-inbox:before {
  content: "\eb8f";
}
.ni-information:before {
  content: "\ebb2";
}
.ni-information-triangle:before {
  content: "\eba9";
}
.ni-instrument:before {
  content: "\eaea";
}
.ni-intersect:before {
  content: "\e9bd";
}
.ni-intestine:before {
  content: "\eb1d";
}
.ni-investment-grow:before {
  content: "\e964";
}
.ni-invoice:before {
  content: "\e965";
}
.ni-invoice-payment:before {
  content: "\ecfd";
}
.ni-ipad:before {
  content: "\ea73";
}
.ni-iron:before {
  content: "\ecc3";
}
.ni-italic:before {
  content: "\ea59";
}
.ni-karaoke-mic:before {
  content: "\eaeb";
}
.ni-karaoke-mic-2:before {
  content: "\eaed";
}
.ni-ketchup:before {
  content: "\eb3e";
}
.ni-kettle:before {
  content: "\eb3f";
}
.ni-keyboard:before {
  content: "\ea5b";
}
.ni-kids-emoji:before {
  content: "\ece6";
}
.ni-knife:before {
  content: "\eb40";
}
.ni-knife-fork:before {
  content: "\ec8e";
}
.ni-ladle:before {
  content: "\eb41";
}
.ni-lamp:before {
  content: "\ec6d";
}
.ni-lamp-2:before {
  content: "\ec6e";
}
.ni-landmark:before {
  content: "\e981";
}
.ni-laptop:before {
  content: "\ea76";
}
.ni-laptop-2:before {
  content: "\ea77";
}
.ni-laptop-settings:before {
  content: "\ea74";
}
.ni-laptop-settings-2:before {
  content: "\ea75";
}
.ni-laundry:before {
  content: "\ec79";
}
.ni-law:before {
  content: "\e966";
}
.ni-layer:before {
  content: "\ebb3";
}
.ni-layout-grid:before {
  content: "\ebb4";
}
.ni-layout-grid-2:before {
  content: "\ebb5";
}
.ni-layout-grid-3:before {
  content: "\ebb6";
}
.ni-layout-grid-4:before {
  content: "\ebb7";
}
.ni-layout-grid-5:before {
  content: "\ebb8";
}
.ni-leaderboard-game:before {
  content: "\ec56";
}
.ni-leaf:before {
  content: "\eacc";
}
.ni-leaf-2:before {
  content: "\eacd";
}
.ni-leaf-3:before {
  content: "\eace";
}
.ni-leaf-ui:before {
  content: "\ebb9";
}
.ni-leaf-ui-2:before {
  content: "\ebba";
}
.ni-lemon:before {
  content: "\ec8f";
}
.ni-level-up:before {
  content: "\ec48";
}
.ni-library:before {
  content: "\ec64";
}
.ni-light-bulb:before {
  content: "\e94d";
}
.ni-light-bulb-creative:before {
  content: "\e94c";
}
.ni-light-bulb-electric:before {
  content: "\e94b";
}
.ni-light-bulb-on:before {
  content: "\e94e";
}
.ni-line:before {
  content: "\e9be";
}
.ni-link:before {
  content: "\ebbd";
}
.ni-link-2:before {
  content: "\ebb0";
}
.ni-lipstick:before {
  content: "\ecc7";
}
.ni-list:before {
  content: "\ea5c";
}
.ni-loading-2:before {
  content: "\ebc1";
}
.ni-loading-time:before {
  content: "\eb7c";
}
.ni-loafers:before {
  content: "\ecc9";
}
.ni-location:before {
  content: "\ebc2";
}
.ni-location-2:before {
  content: "\ebc3";
}
.ni-lock:before {
  content: "\ebc4";
}
.ni-lock-2:before {
  content: "\ebc5";
}
.ni-login:before {
  content: "\ebc7";
}
.ni-login-bracket:before {
  content: "\ebc6";
}
.ni-logout:before {
  content: "\ebc9";
}
.ni-logout-bracket:before {
  content: "\ebc8";
}
.ni-loop:before {
  content: "\ebca";
}
.ni-lotus:before {
  content: "\eacf";
}
.ni-love:before {
  content: "\ebcb";
}
.ni-love-emoji:before {
  content: "\ece7";
}
.ni-lungs:before {
  content: "\eb1f";
}
.ni-magic-wand:before {
  content: "\e9d3";
}
.ni-magnet:before {
  content: "\e9bf";
}
.ni-mail:before {
  content: "\ebcc";
}
.ni-make-up:before {
  content: "\ecc8";
}
.ni-make-up-mirror:before {
  content: "\ec6f";
}
.ni-man-symbol:before {
  content: "\eb20";
}
.ni-maple-leaf:before {
  content: "\ead0";
}
.ni-market:before {
  content: "\ebcd";
}
.ni-mask-emoji:before {
  content: "\ece8";
}
.ni-mathematical-anchor:before {
  content: "\e9c0";
}
.ni-medal:before {
  content: "\eaa1";
}
.ni-medal-2:before {
  content: "\eaa2";
}
.ni-media-file:before {
  content: "\ecac";
}
.ni-medical:before {
  content: "\eb24";
}
.ni-medical-bill:before {
  content: "\eb1e";
}
.ni-medical-box:before {
  content: "\eb22";
}
.ni-medical-circle:before {
  content: "\eb23";
}
.ni-medical-kit:before {
  content: "\eb21";
}
.ni-medicine:before {
  content: "\eb18";
}
.ni-mesh:before {
  content: "\e9c1";
}
.ni-microphone:before {
  content: "\eae2";
}
.ni-microphone-2:before {
  content: "\eaec";
}
.ni-microphone-3:before {
  content: "\eaee";
}
.ni-microphone-4:before {
  content: "\eafb";
}
.ni-microwave:before {
  content: "\eb43";
}
.ni-mindmap:before {
  content: "\e999";
}
.ni-minus-front:before {
  content: "\e9c2";
}
.ni-missing:before {
  content: "\e9c3";
}
.ni-mobile-pattern-password:before {
  content: "\ebd6";
}
.ni-molecule:before {
  content: "\eb26";
}
.ni-money:before {
  content: "\e967";
}
.ni-money-cash:before {
  content: "\ed00";
}
.ni-monitor:before {
  content: "\ea79";
}
.ni-monitor-2:before {
  content: "\ea7a";
}
.ni-monitor-3:before {
  content: "\ea7d";
}
.ni-monkey:before {
  content: "\e90b";
}
.ni-monkey-2:before {
  content: "\e90c";
}
.ni-monkey-3:before {
  content: "\e90d";
}
.ni-monument:before {
  content: "\e982";
}
.ni-moon:before {
  content: "\e9ee";
}
.ni-moon-landing:before {
  content: "\eab5";
}
.ni-moon-space:before {
  content: "\eab6";
}
.ni-more-horizontal:before {
  content: "\e99c";
}
.ni-more-vertical:before {
  content: "\e99d";
}
.ni-mosque:before {
  content: "\e983";
}
.ni-mosque-2:before {
  content: "\e984";
}
.ni-motorcycle:before {
  content: "\ea40";
}
.ni-mouse:before {
  content: "\ea7b";
}
.ni-move:before {
  content: "\ec36";
}
.ni-mushroom:before {
  content: "\ec57";
}
.ni-music-album:before {
  content: "\eae0";
}
.ni-music-album-2:before {
  content: "\eae1";
}
.ni-music-note:before {
  content: "\eaf1";
}
.ni-music-note-2:before {
  content: "\eaf2";
}
.ni-mustache-emoji:before {
  content: "\ece9";
}
.ni-nat:before {
  content: "\e99a";
}
.ni-necklace:before {
  content: "\ecca";
}
.ni-new-artboard:before {
  content: "\e9ab";
}
.ni-new-moon:before {
  content: "\e9eb";
}
.ni-next-play:before {
  content: "\eaef";
}
.ni-next-play-2:before {
  content: "\eaf0";
}
.ni-night-cloud:before {
  content: "\e9df";
}
.ni-night-rain:before {
  content: "\e9f1";
}
.ni-night-stars:before {
  content: "\e9ef";
}
.ni-night-storm:before {
  content: "\e9f0";
}
.ni-night-storm-2:before {
  content: "\e9f2";
}
.ni-no-iron:before {
  content: "\ecc2";
}
.ni-node:before {
  content: "\e99b";
}
.ni-note:before {
  content: "\ecaa";
}
.ni-note-detail:before {
  content: "\ecab";
}
.ni-notification:before {
  content: "\ebd3";
}
.ni-notification-alert:before {
  content: "\ebd4";
}
.ni-nuclear:before {
  content: "\eab7";
}
.ni-numbered-list:before {
  content: "\ea5d";
}
.ni-observatory:before {
  content: "\eab8";
}
.ni-octopus:before {
  content: "\e916";
}
.ni-onigiri:before {
  content: "\ec90";
}
.ni-open-disk:before {
  content: "\eae7";
}
.ni-option-horizontal:before {
  content: "\ebce";
}
.ni-optometry:before {
  content: "\eb25";
}
.ni-orange-squeezer:before {
  content: "\eb44";
}
.ni-orbit:before {
  content: "\eab9";
}
.ni-package:before {
  content: "\ecf7";
}
.ni-pacman:before {
  content: "\ec53";
}
.ni-paint-brush:before {
  content: "\e9c8";
}
.ni-paint-bucket-tool:before {
  content: "\e9ae";
}
.ni-palette:before {
  content: "\e9c9";
}
.ni-panda:before {
  content: "\e90e";
}
.ni-pants:before {
  content: "\ecc4";
}
.ni-paper-bag:before {
  content: "\ecf2";
}
.ni-paper-bag-bundle:before {
  content: "\ecf4";
}
.ni-paper-plane:before {
  content: "\eb85";
}
.ni-paper-plane-2:before {
  content: "\eb86";
}
.ni-paragraph:before {
  content: "\ea5e";
}
.ni-paragraph-capital:before {
  content: "\ea5f";
}
.ni-paragraph-inline-left-align:before {
  content: "\ea60";
}
.ni-paragraph-inline-right-align:before {
  content: "\ea61";
}
.ni-park:before {
  content: "\e986";
}
.ni-park-sign:before {
  content: "\ea41";
}
.ni-password-pattern:before {
  content: "\ec37";
}
.ni-paste:before {
  content: "\ebd7";
}
.ni-pause:before {
  content: "\eaf6";
}
.ni-pause-circle:before {
  content: "\eaf5";
}
.ni-paw:before {
  content: "\e90f";
}
.ni-pencil:before {
  content: "\e9cc";
}
.ni-pencil-ui:before {
  content: "\ebda";
}
.ni-pencil-ui-2:before {
  content: "\ebdb";
}
.ni-pencil-ui-3:before {
  content: "\ebdc";
}
.ni-pentool:before {
  content: "\e9cb";
}
.ni-people:before {
  content: "\e93c";
}
.ni-people-2:before {
  content: "\e940";
}
.ni-people-bike:before {
  content: "\ea42";
}
.ni-people-enter:before {
  content: "\e939";
}
.ni-people-gesture:before {
  content: "\e93d";
}
.ni-people-gesture-2:before {
  content: "\e93e";
}
.ni-people-idea:before {
  content: "\ea19";
}
.ni-people-walk:before {
  content: "\e941";
}
.ni-pepper:before {
  content: "\ec91";
}
.ni-phone:before {
  content: "\eb6f";
}
.ni-piano:before {
  content: "\eaf7";
}
.ni-pig:before {
  content: "\e910";
}
.ni-pin:before {
  content: "\ebde";
}
.ni-pin-2:before {
  content: "\ebdf";
}
.ni-pinch:before {
  content: "\ec38";
}
.ni-pinneaple:before {
  content: "\ec92";
}
.ni-pipe-game:before {
  content: "\ec58";
}
.ni-pizza-roller:before {
  content: "\eb46";
}
.ni-plan-failed:before {
  content: "\e96e";
}
.ni-plane:before {
  content: "\ea32";
}
.ni-plant:before {
  content: "\ead1";
}
.ni-plant-grow:before {
  content: "\ead2";
}
.ni-plate:before {
  content: "\eb47";
}
.ni-play:before {
  content: "\eaf9";
}
.ni-play-circle:before {
  content: "\eaf8";
}
.ni-playlist:before {
  content: "\eafa";
}
.ni-pluto:before {
  content: "\eaba";
}
.ni-police-station:before {
  content: "\e987";
}
.ni-polygon-tool:before {
  content: "\e9ce";
}
.ni-popsicle:before {
  content: "\ec93";
}
.ni-potion:before {
  content: "\eb29";
}
.ni-potion-health:before {
  content: "\ec59";
}
.ni-poundsterling:before {
  content: "\e968";
}
.ni-power:before {
  content: "\eb96";
}
.ni-present-to-all:before {
  content: "\e99e";
}
.ni-presentation-down:before {
  content: "\e951";
}
.ni-presentation-statistic:before {
  content: "\e953";
}
.ni-presentation-up:before {
  content: "\e952";
}
.ni-previous-play:before {
  content: "\eafc";
}
.ni-previous-play-2:before {
  content: "\eafd";
}
.ni-price-tag-ecommerce:before {
  content: "\ed03";
}
.ni-price-tag-ecommerce-2:before {
  content: "\ed04";
}
.ni-price-tag-ui:before {
  content: "\ebe1";
}
.ni-printer:before {
  content: "\ebe2";
}
.ni-prism:before {
  content: "\e9d6";
}
.ni-privacy-tips:before {
  content: "\e99f";
}
.ni-processor:before {
  content: "\ea7c";
}
.ni-pumpkin:before {
  content: "\ec2b";
}
.ni-puzzle:before {
  content: "\ec5a";
}
.ni-qr-code:before {
  content: "\e9a0";
}
.ni-queue:before {
  content: "\eafe";
}
.ni-quote:before {
  content: "\ea62";
}
.ni-rabbit:before {
  content: "\e911";
}
.ni-radio:before {
  content: "\eaff";
}
.ni-radio-2:before {
  content: "\eb00";
}
.ni-radio-signal:before {
  content: "\eb01";
}
.ni-rain:before {
  content: "\e9f6";
}
.ni-rain-2:before {
  content: "\e9f7";
}
.ni-rain-cloud:before {
  content: "\e9e1";
}
.ni-rain-cloud-moon:before {
  content: "\e9ec";
}
.ni-rain-drop:before {
  content: "\e9e8";
}
.ni-rainbow:before {
  content: "\e9f9";
}
.ni-rainbow-cloud:before {
  content: "\e9e2";
}
.ni-rainbow-cloud-2:before {
  content: "\e9f8";
}
.ni-real-estate:before {
  content: "\e988";
}
.ni-rectangle-tool:before {
  content: "\e9cf";
}
.ni-recycle:before {
  content: "\e931";
}
.ni-referral:before {
  content: "\e969";
}
.ni-refresh:before {
  content: "\e932";
}
.ni-refresh-rectangle-ui:before {
  content: "\ebe5";
}
.ni-refresh-rectangle-ui-2:before {
  content: "\ebe6";
}
.ni-refrigerator:before {
  content: "\eb48";
}
.ni-reload:before {
  content: "\ebe7";
}
.ni-reload-2:before {
  content: "\ebea";
}
.ni-reload-left-rectangle:before {
  content: "\e933";
}
.ni-reload-rectangle:before {
  content: "\ebe8";
}
.ni-reload-rectangle-2:before {
  content: "\ebe9";
}
.ni-reload-right-rectangle:before {
  content: "\e934";
}
.ni-remove:before {
  content: "\ebcf";
}
.ni-remove-bracket:before {
  content: "\ecad";
}
.ni-remove-call:before {
  content: "\eb6e";
}
.ni-remove-circle:before {
  content: "\ebd0";
}
.ni-remove-file:before {
  content: "\eca6";
}
.ni-remove-folder:before {
  content: "\ecae";
}
.ni-remove-group:before {
  content: "\ea1b";
}
.ni-remove-lg:before {
  content: "\ebd1";
}
.ni-remove-price-tag:before {
  content: "\ed05";
}
.ni-remove-profile:before {
  content: "\ea1c";
}
.ni-rewards-game:before {
  content: "\ec5b";
}
.ni-rice-bowl:before {
  content: "\ec7f";
}
.ni-rice-cooker:before {
  content: "\eb42";
}
.ni-ring:before {
  content: "\eccb";
}
.ni-robot:before {
  content: "\eabb";
}
.ni-rocket:before {
  content: "\eabc";
}
.ni-rocket-2:before {
  content: "\eabd";
}
.ni-rocket-3:before {
  content: "\eabe";
}
.ni-room-lamp:before {
  content: "\ec70";
}
.ni-rose:before {
  content: "\ead4";
}
.ni-rose-2:before {
  content: "\ead5";
}
.ni-rounded-rectangle-tool:before {
  content: "\e9d0";
}
.ni-rugby:before {
  content: "\eaa3";
}
.ni-rugby-helmet:before {
  content: "\ea9f";
}
.ni-ruler:before {
  content: "\e9d1";
}
.ni-ruler-pencil:before {
  content: "\e9d2";
}
.ni-running:before {
  content: "\eaa4";
}
.ni-sad-emoji:before {
  content: "\eceb";
}
.ni-sad-emoji-2:before {
  content: "\ecec";
}
.ni-sandals:before {
  content: "\eccc";
}
.ni-satellite:before {
  content: "\eabf";
}
.ni-saturn:before {
  content: "\eac0";
}
.ni-save:before {
  content: "\ebec";
}
.ni-scales:before {
  content: "\eb2a";
}
.ni-scan-barcode:before {
  content: "\ec39";
}
.ni-scroll-vertical-ui:before {
  content: "\ebed";
}
.ni-search:before {
  content: "\ebf2";
}
.ni-search-2:before {
  content: "\ebef";
}
.ni-seen:before {
  content: "\ebe4";
}
.ni-seen-2:before {
  content: "\ebf3";
}
.ni-seen-3:before {
  content: "\ebf4";
}
.ni-select-all:before {
  content: "\e9a1";
}
.ni-seo:before {
  content: "\e9a7";
}
.ni-settings:before {
  content: "\e9a2";
}
.ni-settings-ui:before {
  content: "\ebf6";
}
.ni-share:before {
  content: "\ebf8";
}
.ni-share-bracket:before {
  content: "\ebf7";
}
.ni-shark:before {
  content: "\e912";
}
.ni-shield-game:before {
  content: "\ec5c";
}
.ni-ship:before {
  content: "\ea44";
}
.ni-shooter:before {
  content: "\eac1";
}
.ni-shopping-bag-ecommerce:before {
  content: "\ecb2";
}
.ni-shopping-bag-ui:before {
  content: "\eb5f";
}
.ni-shopping-bundle:before {
  content: "\ecf3";
}
.ni-short-pants:before {
  content: "\ecc5";
}
.ni-show-keyboard:before {
  content: "\ea63";
}
.ni-shower:before {
  content: "\ec71";
}
.ni-shrimp1:before {
  content: "\e913";
}
.ni-signal-observatory:before {
  content: "\eac2";
}
.ni-single-instrument:before {
  content: "\eaf3";
}
.ni-single-instrument-2:before {
  content: "\eaf4";
}
.ni-skateboard:before {
  content: "\ea45";
}
.ni-skirt:before {
  content: "\ecce";
}
.ni-skull-head:before {
  content: "\ec5d";
}
.ni-skullcaps:before {
  content: "\ecbf";
}
.ni-skyscrapers:before {
  content: "\e989";
}
.ni-slider-horizontal:before {
  content: "\eb54";
}
.ni-slider-horizontal-2:before {
  content: "\eb56";
}
.ni-slider-vertical:before {
  content: "\eb55";
}
.ni-slider-vertical-2:before {
  content: "\eb57";
}
.ni-slipper:before {
  content: "\eccf";
}
.ni-smartphone:before {
  content: "\ea82";
}
.ni-smartphone-2:before {
  content: "\ea83";
}
.ni-smartphone-3:before {
  content: "\ea84";
}
.ni-smartphone-4:before {
  content: "\ea85";
}
.ni-smartphone-camera:before {
  content: "\ea7f";
}
.ni-smartphone-landscape-mode:before {
  content: "\ea81";
}
.ni-smartphone-landscape-mode-lock:before {
  content: "\ea80";
}
.ni-smartphone-settings:before {
  content: "\ea7e";
}
.ni-smartwatch:before {
  content: "\ea86";
}
.ni-smartwatch-2:before {
  content: "\ea87";
}
.ni-smile-emoji:before {
  content: "\eced";
}
.ni-smile-no-face-emoji:before {
  content: "\ecee";
}
.ni-sneakers:before {
  content: "\ecd0";
}
.ni-snooze:before {
  content: "\ebfe";
}
.ni-snowflake:before {
  content: "\e9fb";
}
.ni-snowman:before {
  content: "\ec2c";
}
.ni-soccer:before {
  content: "\eaa5";
}
.ni-socks:before {
  content: "\ec2d";
}
.ni-socks-fashion:before {
  content: "\ecd1";
}
.ni-sofa:before {
  content: "\ec72";
}
.ni-soul:before {
  content: "\ec5e";
}
.ni-spatula:before {
  content: "\eb4a";
}
.ni-spatula-2:before {
  content: "\eb4b";
}
.ni-spatula-3:before {
  content: "\eb4c";
}
.ni-speaker:before {
  content: "\eb02";
}
.ni-speaker-2:before {
  content: "\eb03";
}
.ni-speedometer:before {
  content: "\ec01";
}
.ni-spellcheck:before {
  content: "\ea64";
}
.ni-spider:before {
  content: "\e914";
}
.ni-spider-insect:before {
  content: "\ec2f";
}
.ni-spider-web:before {
  content: "\ec2e";
}
.ni-spoon-fork:before {
  content: "\ec94";
}
.ni-sports-vitamin:before {
  content: "\ea97";
}
.ni-sports-vitamin-2:before {
  content: "\eaab";
}
.ni-squid:before {
  content: "\e915";
}
.ni-stadium:before {
  content: "\eaa6";
}
.ni-star-people:before {
  content: "\ea1d";
}
.ni-stars:before {
  content: "\ec02";
}
.ni-statistic-dashboard:before {
  content: "\e96c";
}
.ni-statistic-down:before {
  content: "\e96a";
}
.ni-statistic-up:before {
  content: "\e96b";
}
.ni-steering-wheel:before {
  content: "\ea38";
}
.ni-stethoscope:before {
  content: "\eb2c";
}
.ni-stone:before {
  content: "\ead3";
}
.ni-stop:before {
  content: "\eb06";
}
.ni-stop-circle:before {
  content: "\eb05";
}
.ni-stopwatch:before {
  content: "\eb7f";
}
.ni-store-2:before {
  content: "\ec03";
}
.ni-store-love:before {
  content: "\ecff";
}
.ni-store-sign:before {
  content: "\ed07";
}
.ni-store-stars:before {
  content: "\ecfe";
}
.ni-strategy-failed:before {
  content: "\e96f";
}
.ni-strategy-success:before {
  content: "\e96d";
}
.ni-strawberry:before {
  content: "\ec95";
}
.ni-street:before {
  content: "\ea46";
}
.ni-street-warning:before {
  content: "\ea49";
}
.ni-strikethrough:before {
  content: "\ea65";
}
.ni-subscript:before {
  content: "\ea66";
}
.ni-sun:before {
  content: "\e9ff";
}
.ni-sun-cloud:before {
  content: "\e9e3";
}
.ni-sun-space:before {
  content: "\eac3";
}
.ni-sunrise:before {
  content: "\e9fe";
}
.ni-sunrise-2:before {
  content: "\ea00";
}
.ni-sunrise-3:before {
  content: "\ea01";
}
.ni-sunset:before {
  content: "\ea02";
}
.ni-sunset-2:before {
  content: "\ea03";
}
.ni-sunset-3:before {
  content: "\ea04";
}
.ni-superscript:before {
  content: "\ea67";
}
.ni-swimming-pool:before {
  content: "\eaa7";
}
.ni-swipe-down:before {
  content: "\ec3a";
}
.ni-swipe-left:before {
  content: "\ec3b";
}
.ni-swipe-left-finger:before {
  content: "\ec3f";
}
.ni-swipe-left-hand:before {
  content: "\ec41";
}
.ni-swipe-left-three-hands:before {
  content: "\ec43";
}
.ni-swipe-right:before {
  content: "\ec3c";
}
.ni-swipe-right-finger:before {
  content: "\ec40";
}
.ni-swipe-right-hand:before {
  content: "\ec3e";
}
.ni-swipe-right-three-hands:before {
  content: "\ec44";
}
.ni-swipe-up:before {
  content: "\ec3d";
}
.ni-sword:before {
  content: "\ec5f";
}
.ni-syringe:before {
  content: "\eb2d";
}
.ni-t-shirt:before {
  content: "\ecb8";
}
.ni-t-shirt-2:before {
  content: "\ecd3";
}
.ni-table:before {
  content: "\ec74";
}
.ni-tablet:before {
  content: "\ea89";
}
.ni-tablet-settings:before {
  content: "\ea88";
}
.ni-tap:before {
  content: "\ec42";
}
.ni-target:before {
  content: "\ec05";
}
.ni-taxi:before {
  content: "\ea47";
}
.ni-tea:before {
  content: "\ec86";
}
.ni-tea-leaf:before {
  content: "\ead6";
}
.ni-telescope:before {
  content: "\eac4";
}
.ni-television:before {
  content: "\ea8a";
}
.ni-television-table:before {
  content: "\ec75";
}
.ni-temple:before {
  content: "\e98a";
}
.ni-tennis:before {
  content: "\eaa8";
}
.ni-tetris:before {
  content: "\ec60";
}
.ni-text-color:before {
  content: "\ea68";
}
.ni-text-spacing-horizontal:before {
  content: "\ea69";
}
.ni-text-spacing-vertical:before {
  content: "\ea6a";
}
.ni-thermometer:before {
  content: "\ea05";
}
.ni-thermometer-2:before {
  content: "\ea08";
}
.ni-thermometer-low:before {
  content: "\ea07";
}
.ni-thermometer-max:before {
  content: "\ea06";
}
.ni-thermometer-max-2:before {
  content: "\ea09";
}
.ni-thumbs-up:before {
  content: "\ec06";
}
.ni-thunder:before {
  content: "\e9e4";
}
.ni-tick-circle:before {
  content: "\eb7b";
}
.ni-ticket:before {
  content: "\ed08";
}
.ni-tie:before {
  content: "\ecd2";
}
.ni-time-sand:before {
  content: "\ec07";
}
.ni-timeline:before {
  content: "\e9a3";
}
.ni-tissue:before {
  content: "\eb4d";
}
.ni-to-do-list:before {
  content: "\ebbe";
}
.ni-to-do-list-2:before {
  content: "\ebbf";
}
.ni-to-do-list-3:before {
  content: "\ebc0";
}
.ni-toggle-switch:before {
  content: "\ec04";
}
.ni-toilet:before {
  content: "\ec76";
}
.ni-toilet-squat:before {
  content: "\ec77";
}
.ni-toll:before {
  content: "\e9a4";
}
.ni-tongue-emoji:before {
  content: "\ecf0";
}
.ni-tooth:before {
  content: "\eb14";
}
.ni-top-up:before {
  content: "\ed09";
}
.ni-torii-gate:before {
  content: "\e98b";
}
.ni-tornado:before {
  content: "\ea0a";
}
.ni-touch:before {
  content: "\ec45";
}
.ni-touch-2:before {
  content: "\ec46";
}
.ni-tournament-bracket:before {
  content: "\eaa9";
}
.ni-track:before {
  content: "\e9a5";
}
.ni-train:before {
  content: "\ea48";
}
.ni-transform-ui:before {
  content: "\ebd8";
}
.ni-tree:before {
  content: "\ead7";
}
.ni-tree-2:before {
  content: "\ead8";
}
.ni-tree-3:before {
  content: "\ead9";
}
.ni-tree-4:before {
  content: "\eada";
}
.ni-tree-41:before {
  content: "\eadb";
}
.ni-tree-5:before {
  content: "\eadc";
}
.ni-tree-6:before {
  content: "\eadd";
}
.ni-triangle-tool:before {
  content: "\e9d5";
}
.ni-trim:before {
  content: "\e9b3";
}
.ni-trophy:before {
  content: "\eaaa";
}
.ni-tube:before {
  content: "\e9db";
}
.ni-turtle:before {
  content: "\e917";
}
.ni-tuxedo:before {
  content: "\e970";
}
.ni-tuxedo-2:before {
  content: "\e971";
}
.ni-tuxedo-fashion:before {
  content: "\ecd4";
}
.ni-tuxedo-fashion-2:before {
  content: "\ecd5";
}
.ni-tuxedo-fashion-3:before {
  content: "\ecd6";
}
.ni-tuxedo-fashion-4:before {
  content: "\ecd7";
}
.ni-tuxedo-fashion-5:before {
  content: "\ecd8";
}
.ni-ufo:before {
  content: "\ea3b";
}
.ni-ufo-2:before {
  content: "\eac5";
}
.ni-ulcer:before {
  content: "\eb2e";
}
.ni-ulekan:before {
  content: "\eb38";
}
.ni-umbrella-holiday:before {
  content: "\ec31";
}
.ni-umbrella-weather:before {
  content: "\ea0b";
}
.ni-underline:before {
  content: "\ea6c";
}
.ni-underwear:before {
  content: "\ecd9";
}
.ni-underwear-2:before {
  content: "\ecda";
}
.ni-unique-glasses:before {
  content: "\ecbd";
}
.ni-unite:before {
  content: "\e9d7";
}
.ni-unlock-password:before {
  content: "\ec0b";
}
.ni-unlock-password1:before {
  content: "\ec0a";
}
.ni-up-file:before {
  content: "\ecaf";
}
.ni-upload:before {
  content: "\ec0d";
}
.ni-upload-bracket:before {
  content: "\ec0c";
}
.ni-user:before {
  content: "\ea26";
}
.ni-user-2:before {
  content: "\ea27";
}
.ni-user-3:before {
  content: "\ea28";
}
.ni-user-4:before {
  content: "\ea1a";
}
.ni-user-circle:before {
  content: "\ea25";
}
.ni-user-down:before {
  content: "\ea23";
}
.ni-user-information:before {
  content: "\ea1f";
}
.ni-user-location:before {
  content: "\ea20";
}
.ni-user-profile-card:before {
  content: "\ea22";
}
.ni-user-settings:before {
  content: "\ea21";
}
.ni-user-up:before {
  content: "\ea24";
}
.ni-user-verified:before {
  content: "\ea2a";
}
.ni-user-voice:before {
  content: "\ea29";
}
.ni-user-woman:before {
  content: "\ea2b";
}
.ni-user-woman-2:before {
  content: "\ea2e";
}
.ni-user-woman-3:before {
  content: "\ea2f";
}
.ni-user-woman-4:before {
  content: "\ea30";
}
.ni-user-woman-circle:before {
  content: "\ea2c";
}
.ni-username:before {
  content: "\ea4a";
}
.ni-venus:before {
  content: "\eac6";
}
.ni-verified-folder:before {
  content: "\ecb0";
}
.ni-vertical-align-bottom:before {
  content: "\e9d8";
}
.ni-vertical-align-center:before {
  content: "\e9d9";
}
.ni-vertical-align-top:before {
  content: "\e9da";
}
.ni-vertical-scroll:before {
  content: "\e936";
}
.ni-vertical-split:before {
  content: "\e9a6";
}
.ni-vest:before {
  content: "\ecdb";
}
.ni-virus:before {
  content: "\eb27";
}
.ni-volleyball:before {
  content: "\ec32";
}
.ni-volume:before {
  content: "\e9c7";
}
.ni-volume-max:before {
  content: "\eb08";
}
.ni-volume-max-2:before {
  content: "\eb0b";
}
.ni-volume-mute:before {
  content: "\eb09";
}
.ni-volume1:before {
  content: "\eb0a";
}
.ni-wallet:before {
  content: "\e972";
}
.ni-wallet-ecommerce:before {
  content: "\ed0a";
}
.ni-warning-circle:before {
  content: "\ec0e";
}
.ni-warning-file:before {
  content: "\eca7";
}
.ni-watch:before {
  content: "\ecdc";
}
.ni-watermelon:before {
  content: "\ec96";
}
.ni-website-article:before {
  content: "\e9a8";
}
.ni-weightlifting:before {
  content: "\ea9e";
}
.ni-weightlifting-2:before {
  content: "\eaac";
}
.ni-whale:before {
  content: "\e918";
}
.ni-wheat:before {
  content: "\eade";
}
.ni-wheelchair:before {
  content: "\e938";
}
.ni-wifi:before {
  content: "\ec10";
}
.ni-wifi-2:before {
  content: "\ec11";
}
.ni-wind:before {
  content: "\ea0d";
}
.ni-wind-turbin:before {
  content: "\ea0c";
}
.ni-wine:before {
  content: "\ec97";
}
.ni-winner:before {
  content: "\eaad";
}
.ni-witch:before {
  content: "\ec2a";
}
.ni-woman:before {
  content: "\e944";
}
.ni-woman-bag:before {
  content: "\ecb1";
}
.ni-woman-bag1:before {
  content: "\ecf5";
}
.ni-woman-boots:before {
  content: "\ecdd";
}
.ni-woman-dress:before {
  content: "\ecba";
}
.ni-woman-face:before {
  content: "\ea2d";
}
.ni-woman-face-scanner:before {
  content: "\eb9a";
}
.ni-woman-gesture:before {
  content: "\e945";
}
.ni-woman-symbol:before {
  content: "\eb2f";
}
.ni-wonder-emoji:before {
  content: "\ecf1";
}
.ni-wood:before {
  content: "\eadf";
}
.ni-work-bag:before {
  content: "\e973";
}
.ni-work-bag-2:before {
  content: "\e974";
}
.ni-work-bag-3:before {
  content: "\e975";
}
.ni-work-bag-4:before {
  content: "\e976";
}
.ni-workflow:before {
  content: "\e9a9";
}
.ni-writing:before {
  content: "\eb91";
}
.ni-yen:before {
  content: "\e977";
}
.ni-zombie:before {
  content: "\ec33";
}
.ni-zoom-in:before {
  content: "\ebf0";
}
.ni-zoom-in-2:before {
  content: "\ec14";
}
.ni-zoom-out:before {
  content: "\ebf1";
}
.ni-zoom-out-2:before {
  content: "\ec15";
}
.ni-zoom-out-arrow:before {
  content: "\ec47";
}
