$icomoon-font-family: "neu" !default;
$icomoon-font-path: "fonts" !default;

$ni-ac: "\ec61";
$ni-accessibility: "\e93f";
$ni-activity: "\eb4f";
$ni-add: "\ebe0";
$ni-add-bracket: "\ec98";
$ni-add-call: "\eb6c";
$ni-add-circle: "\eb50";
$ni-add-file: "\eca2";
$ni-add-folder: "\ec99";
$ni-add-group: "\ea0e";
$ni-add-lg: "\eb4e";
$ni-add-node: "\e98c";
$ni-add-price-tag: "\ed01";
$ni-add-profile: "\ea0f";
$ni-adjustment-horizontal: "\eb51";
$ni-adjustment-horizontal-2: "\eb53";
$ni-adjustment-horizontal-3: "\ebfc";
$ni-adjustment-vertical: "\eb52";
$ni-adjustment-vertical-2: "\eb58";
$ni-adjustment-vertical-3: "\ebfd";
$ni-affiliate: "\e946";
$ni-affiliate-2: "\e947";
$ni-affiliate-3: "\e948";
$ni-air-baloon: "\ea31";
$ni-airplane: "\ea43";
$ni-airplay: "\eb59";
$ni-alarm: "\eb7d";
$ni-alert: "\ebd5";
$ni-alert-off: "\ebd2";
$ni-alien: "\eaae";
$ni-align-center: "\ea4b";
$ni-align-justify: "\ea5a";
$ni-align-left: "\ea4c";
$ni-align-right: "\ea4d";
$ni-all-out: "\e98d";
$ni-alphabet: "\ea55";
$ni-ambulance: "\eb0e";
$ni-amusement-park: "\e978";
$ni-anchor: "\eb5a";
$ni-android: "\ea6d";
$ni-anemometer: "\e9dc";
$ni-animation: "\e98e";
$ni-announcer: "\eb04";
$ni-announcer-ui: "\ebff";
$ni-announcer-ui-2: "\ec00";
$ni-apartment: "\e979";
$ni-apartment-hotel: "\e97a";
$ni-apple: "\ec7a";
$ni-apron: "\eb30";
$ni-archive: "\eb5b";
$ni-arrow: "\e9aa";
$ni-arrow-down-lg: "\e91b";
$ni-arrow-down-md: "\e91a";
$ni-arrow-down-sm: "\e919";
$ni-arrow-down-triangle: "\e92f";
$ni-arrow-left-lg: "\e925";
$ni-arrow-left-md: "\e926";
$ni-arrow-left-sm: "\e927";
$ni-arrow-left-triangle: "\e92e";
$ni-arrow-right-lg: "\e92a";
$ni-arrow-right-md: "\e929";
$ni-arrow-right-sm: "\e928";
$ni-arrow-right-triangle: "\e930";
$ni-arrow-turn-left: "\e921";
$ni-arrow-turn-left-rectangle: "\e92c";
$ni-arrow-turn-right: "\e920";
$ni-arrow-turn-right-rectangle: "\e92b";
$ni-arrow-up-lg: "\e91e";
$ni-arrow-up-md: "\e91d";
$ni-arrow-up-sm: "\e91c";
$ni-arrow-up-triangle: "\e92d";
$ni-asteroid: "\eaaf";
$ni-astronaut: "\eab0";
$ni-attachment: "\eb5c";
$ni-attachment-2: "\eb5d";
$ni-audio: "\eae3";
$ni-audio-beat: "\eae5";
$ni-audio-ui: "\eb5e";
$ni-audio-wave: "\eae4";
$ni-audio-wave-2: "\eb0c";
$ni-avocado: "\ec7b";
$ni-baby: "\ea10";
$ni-bacon: "\ec7c";
$ni-bacon-2: "\ec7d";
$ni-badminton: "\ea8c";
$ni-badminton-ball: "\ea8b";
$ni-balloon: "\ec16";
$ni-band-aid: "\eb0f";
$ni-band-aid-2: "\eb10";
$ni-bank: "\e949";
$ni-bar: "\eb60";
$ni-bar-2: "\eb61";
$ni-bar-3: "\ebfa";
$ni-bar-4: "\ebfb";
$ni-barbecue: "\eb31";
$ni-barbecue-2: "\eb32";
$ni-barcode: "\ecf6";
$ni-baseball: "\ea8d";
$ni-basket: "\eb62";
$ni-basketball: "\ea8e";
$ni-basketball-jersey: "\ecc6";
$ni-basketball-ring: "\ea8f";
$ni-bat: "\e900";
$ni-bath-tube: "\ec62";
$ni-battery-charging: "\eb63";
$ni-battery-full: "\eb65";
$ni-battery-half: "\eb64";
$ni-beach-table: "\ec78";
$ni-bear: "\e901";
$ni-bed: "\ec63";
$ni-beer-glass: "\ec89";
$ni-belt: "\ecb3";
$ni-bike: "\ea33";
$ni-bike-2: "\ea34";
$ni-bikini: "\ecb4";
$ni-bill: "\e94a";
$ni-billiard: "\ea90";
$ni-binary: "\e98f";
$ni-bird: "\e908";
$ni-black-pepper: "\eb45";
$ni-blackhole: "\eab1";
$ni-blank: "\e9ac";
$ni-blank-canvas: "\e950";
$ni-blank-file: "\eca4";
$ni-blender: "\eb33";
$ni-blind-eyes: "\e937";
$ni-blink-eye-emoji: "\ecde";
$ni-block-toys: "\ec49";
$ni-blood: "\eb11";
$ni-bluetooth: "\eb66";
$ni-boat: "\ea35";
$ni-bold: "\ea4e";
$ni-bomb: "\ec4a";
$ni-bone: "\e902";
$ni-bone1: "\ec17";
$ni-book: "\eb68";
$ni-book-open: "\eb67";
$ni-book-open-file: "\ec9a";
$ni-bookmark: "\eb69";
$ni-bookmark1: "\ec9b";
$ni-boots: "\ecb5";
$ni-bottle: "\ec7e";
$ni-bowl: "\eb34";
$ni-bowling: "\ea92";
$ni-bowling-ball: "\ea91";
$ni-bowtie: "\ecb6";
$ni-bowtie-holiday: "\ec18";
$ni-box-shipping: "\ecf8";
$ni-box-vacuum: "\eab2";
$ni-boxing: "\ea93";
$ni-boy: "\ea18";
$ni-bra: "\ecb7";
$ni-braidshirt: "\eccd";
$ni-brain: "\eb12";
$ni-bread: "\ec80";
$ni-bread-toaster: "\eb35";
$ni-brightness: "\eb6a";
$ni-browse: "\eb6b";
$ni-browse-2: "\ebee";
$ni-brush: "\e9ad";
$ni-bucket: "\eb36";
$ni-building: "\e97b";
$ni-bulleted-list: "\ea4f";
$ni-bulleted-list-2: "\ea50";
$ni-burger: "\ec81";
$ni-bus: "\ea36";
$ni-bus-front: "\ea37";
$ni-cabin-house: "\e97c";
$ni-calculator: "\e94f";
$ni-calling: "\eb6d";
$ni-camera: "\eb70";
$ni-candle: "\ec19";
$ni-capsule: "\eb13";
$ni-capture: "\e9af";
$ni-capture1: "\eb71";
$ni-car: "\ea39";
$ni-car-box-shipping: "\ed06";
$ni-car-front: "\ea3a";
$ni-car-wheel: "\ea94";
$ni-card-game: "\ec4b";
$ni-cart: "\eb72";
$ni-cart-2: "\eb73";
$ni-cash: "\e954";
$ni-cassette-tape: "\eae6";
$ni-cassette-tape-2: "\eb07";
$ni-cast: "\eb74";
$ni-cat: "\e903";
$ni-celsius: "\e9dd";
$ni-chair: "\ec65";
$ni-chair-rounded: "\ec66";
$ni-chart-pie: "\e956";
$ni-chart-pie-ui: "\ebdd";
$ni-chat: "\eb76";
$ni-chat-bubble: "\eb75";
$ni-chat-bubble-plain: "\eb77";
$ni-chat-plain: "\eb78";
$ni-chat-plain-2: "\eb79";
$ni-check: "\eb7a";
$ni-cheer-up-emoji: "\ecdf";
$ni-chef-hat: "\eb37";
$ni-chemical: "\eb28";
$ni-cherry: "\ec82";
$ni-chess-castle: "\e955";
$ni-chess-pioneer: "\ec4c";
$ni-chevron: "\e91f";
$ni-chicken: "\e904";
$ni-christmas-lamp: "\ec28";
$ni-christmas-tree: "\ec30";
$ni-church: "\e97d";
$ni-city-building: "\e97e";
$ni-clock-2: "\eb7e";
$ni-close: "\ec12";
$ni-close-circle: "\ec13";
$ni-close-lg: "\eb80";
$ni-cloud-landscape: "\e9e5";
$ni-cloud-moon: "\e9e0";
$ni-cloud-rain: "\e9f3";
$ni-cloud-rain-2: "\e9f4";
$ni-cloud-rain-3: "\e9f5";
$ni-cloud-snow: "\e9fa";
$ni-cloud-ui: "\eb81";
$ni-cloud-weather: "\e9de";
$ni-cloud-weather-2: "\e9e6";
$ni-clover: "\eacb";
$ni-cmd: "\eb82";
$ni-code: "\ea51";
$ni-coffee: "\eb39";
$ni-coffee-cup: "\ec83";
$ni-coffee1: "\ec85";
$ni-coffin: "\ec1a";
$ni-coin: "\e957";
$ni-coin-2: "\e958";
$ni-collapse: "\ebf9";
$ni-color-hex: "\e9b0";
$ni-comet: "\eab3";
$ni-company: "\e97f";
$ni-compare: "\e990";
$ni-compass: "\eb83";
$ni-compress: "\e9b1";
$ni-computer-settings: "\ea6e";
$ni-cone: "\ec84";
$ni-contact-book: "\e959";
$ni-cool-emoji: "\ece0";
$ni-cool-emoji-2: "\ecef";
$ni-copy: "\eb84";
$ni-corgi: "\e907";
$ni-couch: "\ec73";
$ni-couple: "\e93b";
$ni-couple-love: "\ea11";
$ni-cow: "\e905";
$ni-crab: "\e906";
$ni-credit-card: "\ecfa";
$ni-credit-card-2: "\ecfb";
$ni-crescent: "\e9ea";
$ni-cricket: "\ea95";
$ni-crop: "\e9b2";
$ni-crown: "\ec4e";
$ni-cupboard: "\ec67";
$ni-cupboard-2: "\ec68";
$ni-cupboard-3: "\ec6a";
$ni-cupboard-4: "\ec6b";
$ni-cupboard-long: "\ec69";
$ni-customer-service: "\ea1e";
$ni-cut: "\eb87";
$ni-cvv: "\ecf9";
$ni-dashboard-layout: "\e991";
$ni-data-check: "\e992";
$ni-data-transfer: "\ea6f";
$ni-data-usage: "\e993";
$ni-database: "\ea70";
$ni-database-settings: "\ea78";
$ni-database-ui: "\ebf5";
$ni-date: "\eb88";
$ni-day-rain: "\e9fd";
$ni-day-storm: "\e9fc";
$ni-dead-emoji: "\ece1";
$ni-decoration: "\ec1b";
$ni-delete: "\eb89";
$ni-delete-2: "\ec08";
$ni-delete-3: "\ec09";
$ni-delete-file: "\eca3";
$ni-delete-folder: "\ec9c";
$ni-delete-node: "\e994";
$ni-delete-price-tag: "\ed02";
$ni-delete-profile: "\ea12";
$ni-description: "\eb8a";
$ni-description-2: "\eb8b";
$ni-devil-emoji: "\ece2";
$ni-diagram-venn: "\e995";
$ni-diamond-game: "\ec4f";
$ni-diamond-jewel: "\ecb9";
$ni-direction-move: "\ec34";
$ni-disappointed-emoji: "\ece3";
$ni-discount: "\e95a";
$ni-dish: "\eb3a";
$ni-disk: "\eb8c";
$ni-display-capture: "\ebeb";
$ni-divide: "\e9b4";
$ni-dna: "\eb15";
$ni-doctor: "\eb17";
$ni-doctor-bag: "\eb16";
$ni-document-approved: "\e95b";
$ni-document-office: "\e95c";
$ni-documents: "\eca8";
$ni-dog: "\ec23";
$ni-dollar: "\e95d";
$ni-donut: "\ec87";
$ni-door: "\ec6c";
$ni-download: "\eb8e";
$ni-download-bracket: "\eb8d";
$ni-drag-indicator: "\e996";
$ni-drawer: "\e95e";
$ni-drawer-file: "\ec9f";
$ni-drawer-file-2: "\eca0";
$ni-drawer-file-3: "\eca1";
$ni-drawing-tablet: "\ea71";
$ni-drone: "\ea72";
$ni-drop: "\ec0f";
$ni-drugs: "\eb19";
$ni-earphone: "\eae8";
$ni-earrings: "\ecbb";
$ni-earth: "\eab4";
$ni-easter-egg: "\ec1c";
$ni-easter-egg-2: "\ec1d";
$ni-easter-egg-3: "\ec1e";
$ni-easter-egg-4: "\ec1f";
$ni-easter-egg-5: "\ec20";
$ni-eclipse-tool: "\e9b5";
$ni-edit: "\ea53";
$ni-edit-circle-ui: "\ebd9";
$ni-edit-path: "\e9b6";
$ni-edit-profile: "\ea13";
$ni-edit-stroke: "\e9ca";
$ni-edit-text: "\ea52";
$ni-edit-ui: "\eb90";
$ni-edit-ui-2: "\eb92";
$ni-egg: "\ec88";
$ni-email: "\eb93";
$ni-emoji: "\eb94";
$ni-energy: "\eb95";
$ni-energy-drink: "\ea96";
$ni-envelope: "\e95f";
$ni-equalizer: "\eae9";
$ni-escalator-down: "\e942";
$ni-escalator-up: "\e943";
$ni-euro: "\e960";
$ni-expand-lg: "\e924";
$ni-expand-md: "\e923";
$ni-expand-sm: "\e922";
$ni-expand-user: "\ea14";
$ni-extension: "\e997";
$ni-external: "\eb97";
$ni-external-link: "\ebbc";
$ni-eye: "\eb99";
$ni-eye-glasses: "\ecbc";
$ni-eye-off: "\eb98";
$ni-eye-patch-emoji: "\ecea";
$ni-eye-plus: "\e93a";
$ni-eyedropper-tool: "\e9b7";
$ni-face-scanner: "\eb9b";
$ni-face-scanner-2: "\eb9c";
$ni-factory: "\e980";
$ni-fahrenheit: "\e9e9";
$ni-faq: "\ebe3";
$ni-faq-file: "\eca5";
$ni-favorite-profile: "\ea17";
$ni-feather: "\eac7";
$ni-fencing: "\ea98";
$ni-ferris-wheel: "\e985";
$ni-file-check: "\ec9d";
$ni-file-down: "\ec9e";
$ni-file-plain-ui: "\eb9e";
$ni-file-structure: "\e9c4";
$ni-file-structure-2: "\e9c5";
$ni-file-ui: "\eb9d";
$ni-filter-descending: "\eb9f";
$ni-filter-descending-2: "\eba0";
$ni-filter-tube: "\eba1";
$ni-fingerprint: "\eba2";
$ni-finish-flag: "\ea99";
$ni-fire: "\ec50";
$ni-fire-camp: "\eac8";
$ni-fireworks: "\ec21";
$ni-fish: "\e90a";
$ni-fish-bone: "\e909";
$ni-flag-finish: "\ea9a";
$ni-flag-ui: "\eba3";
$ni-flag-ui-2: "\eba4";
$ni-flame: "\eac9";
$ni-flower: "\eaca";
$ni-folder-file: "\eca9";
$ni-folder-structure: "\e9c6";
$ni-folder-ui: "\eba5";
$ni-font: "\ea6b";
$ni-font-size: "\ea54";
$ni-font-size1: "\ea56";
$ni-food-scale: "\eb49";
$ni-football-arena: "\ea9b";
$ni-free-transform: "\e9d4";
$ni-gallery: "\e9cd";
$ni-gallery-2: "\ea58";
$ni-gallery-ui: "\ebb1";
$ni-game-console: "\ec51";
$ni-game-console-2: "\ec52";
$ni-game-controller: "\ec4d";
$ni-gas-station: "\ea3c";
$ni-geek-emoji: "\ece4";
$ni-ghost: "\ec54";
$ni-gift: "\eba6";
$ni-gift-box: "\ec24";
$ni-glass: "\eb3b";
$ni-glass-food: "\ec8a";
$ni-glass-holiday: "\ec25";
$ni-glass-wine: "\eb3c";
$ni-globe: "\e961";
$ni-glove: "\ec26";
$ni-gold: "\e962";
$ni-golf: "\ea9c";
$ni-golf-stick: "\ea9d";
$ni-grape: "\ec8b";
$ni-grater: "\eb3d";
$ni-grave: "\ec27";
$ni-grocery-bag: "\ecfc";
$ni-group: "\ea16";
$ni-group-chat: "\ea15";
$ni-half-moon: "\e9ed";
$ni-hamburger-menu: "\eba7";
$ni-hand-gesture-ui: "\eba8";
$ni-happy-emoji: "\ece5";
$ni-happy-new-year: "\ec22";
$ni-hat: "\ecbe";
$ni-health-scanner: "\eb2b";
$ni-heart-rate: "\eb0d";
$ni-heart-rate1: "\eb1a";
$ni-helicopter: "\ea3d";
$ni-helmet: "\ea3e";
$ni-helmet-2: "\ea3f";
$ni-helmet-game: "\ec55";
$ni-help: "\ebbb";
$ni-hide-keyboard: "\ea57";
$ni-high-heels: "\ecc0";
$ni-hockey: "\eaa0";
$ni-hold: "\ec35";
$ni-hold-hand-ui: "\ebaa";
$ni-holiday-bag: "\ec29";
$ni-home: "\ebab";
$ni-home-2: "\ebac";
$ni-home-3: "\ebad";
$ni-home-4: "\ebae";
$ni-home-5: "\ebaf";
$ni-hoodie: "\ecc1";
$ni-horizontal-align-center: "\e9b8";
$ni-horizontal-align-left: "\e9b9";
$ni-horizontal-align-right: "\e9ba";
$ni-horizontal-scroll: "\e935";
$ni-horizontal-split: "\e998";
$ni-hospital: "\eb1b";
$ni-hospital-2: "\eb1c";
$ni-hotdog: "\ec8c";
$ni-hotel: "\e963";
$ni-hue-saturation: "\e9bb";
$ni-humidity: "\e9e7";
$ni-ice-coffee: "\ec8d";
$ni-image: "\e9bc";
$ni-inbox: "\eb8f";
$ni-information: "\ebb2";
$ni-information-triangle: "\eba9";
$ni-instrument: "\eaea";
$ni-intersect: "\e9bd";
$ni-intestine: "\eb1d";
$ni-investment-grow: "\e964";
$ni-invoice: "\e965";
$ni-invoice-payment: "\ecfd";
$ni-ipad: "\ea73";
$ni-iron: "\ecc3";
$ni-italic: "\ea59";
$ni-karaoke-mic: "\eaeb";
$ni-karaoke-mic-2: "\eaed";
$ni-ketchup: "\eb3e";
$ni-kettle: "\eb3f";
$ni-keyboard: "\ea5b";
$ni-kids-emoji: "\ece6";
$ni-knife: "\eb40";
$ni-knife-fork: "\ec8e";
$ni-ladle: "\eb41";
$ni-lamp: "\ec6d";
$ni-lamp-2: "\ec6e";
$ni-landmark: "\e981";
$ni-laptop: "\ea76";
$ni-laptop-2: "\ea77";
$ni-laptop-settings: "\ea74";
$ni-laptop-settings-2: "\ea75";
$ni-laundry: "\ec79";
$ni-law: "\e966";
$ni-layer: "\ebb3";
$ni-layout-grid: "\ebb4";
$ni-layout-grid-2: "\ebb5";
$ni-layout-grid-3: "\ebb6";
$ni-layout-grid-4: "\ebb7";
$ni-layout-grid-5: "\ebb8";
$ni-leaderboard-game: "\ec56";
$ni-leaf: "\eacc";
$ni-leaf-2: "\eacd";
$ni-leaf-3: "\eace";
$ni-leaf-ui: "\ebb9";
$ni-leaf-ui-2: "\ebba";
$ni-lemon: "\ec8f";
$ni-level-up: "\ec48";
$ni-library: "\ec64";
$ni-light-bulb: "\e94d";
$ni-light-bulb-creative: "\e94c";
$ni-light-bulb-electric: "\e94b";
$ni-light-bulb-on: "\e94e";
$ni-line: "\e9be";
$ni-link: "\ebbd";
$ni-link-2: "\ebb0";
$ni-lipstick: "\ecc7";
$ni-list: "\ea5c";
$ni-loading-2: "\ebc1";
$ni-loading-time: "\eb7c";
$ni-loafers: "\ecc9";
$ni-location: "\ebc2";
$ni-location-2: "\ebc3";
$ni-lock: "\ebc4";
$ni-lock-2: "\ebc5";
$ni-login: "\ebc7";
$ni-login-bracket: "\ebc6";
$ni-logout: "\ebc9";
$ni-logout-bracket: "\ebc8";
$ni-loop: "\ebca";
$ni-lotus: "\eacf";
$ni-love: "\ebcb";
$ni-love-emoji: "\ece7";
$ni-lungs: "\eb1f";
$ni-magic-wand: "\e9d3";
$ni-magnet: "\e9bf";
$ni-mail: "\ebcc";
$ni-make-up: "\ecc8";
$ni-make-up-mirror: "\ec6f";
$ni-man-symbol: "\eb20";
$ni-maple-leaf: "\ead0";
$ni-market: "\ebcd";
$ni-mask-emoji: "\ece8";
$ni-mathematical-anchor: "\e9c0";
$ni-medal: "\eaa1";
$ni-medal-2: "\eaa2";
$ni-media-file: "\ecac";
$ni-medical: "\eb24";
$ni-medical-bill: "\eb1e";
$ni-medical-box: "\eb22";
$ni-medical-circle: "\eb23";
$ni-medical-kit: "\eb21";
$ni-medicine: "\eb18";
$ni-mesh: "\e9c1";
$ni-microphone: "\eae2";
$ni-microphone-2: "\eaec";
$ni-microphone-3: "\eaee";
$ni-microphone-4: "\eafb";
$ni-microwave: "\eb43";
$ni-mindmap: "\e999";
$ni-minus-front: "\e9c2";
$ni-missing: "\e9c3";
$ni-mobile-pattern-password: "\ebd6";
$ni-molecule: "\eb26";
$ni-money: "\e967";
$ni-money-cash: "\ed00";
$ni-monitor: "\ea79";
$ni-monitor-2: "\ea7a";
$ni-monitor-3: "\ea7d";
$ni-monkey: "\e90b";
$ni-monkey-2: "\e90c";
$ni-monkey-3: "\e90d";
$ni-monument: "\e982";
$ni-moon: "\e9ee";
$ni-moon-landing: "\eab5";
$ni-moon-space: "\eab6";
$ni-more-horizontal: "\e99c";
$ni-more-vertical: "\e99d";
$ni-mosque: "\e983";
$ni-mosque-2: "\e984";
$ni-motorcycle: "\ea40";
$ni-mouse: "\ea7b";
$ni-move: "\ec36";
$ni-mushroom: "\ec57";
$ni-music-album: "\eae0";
$ni-music-album-2: "\eae1";
$ni-music-note: "\eaf1";
$ni-music-note-2: "\eaf2";
$ni-mustache-emoji: "\ece9";
$ni-nat: "\e99a";
$ni-necklace: "\ecca";
$ni-new-artboard: "\e9ab";
$ni-new-moon: "\e9eb";
$ni-next-play: "\eaef";
$ni-next-play-2: "\eaf0";
$ni-night-cloud: "\e9df";
$ni-night-rain: "\e9f1";
$ni-night-stars: "\e9ef";
$ni-night-storm: "\e9f0";
$ni-night-storm-2: "\e9f2";
$ni-no-iron: "\ecc2";
$ni-node: "\e99b";
$ni-note: "\ecaa";
$ni-note-detail: "\ecab";
$ni-notification: "\ebd3";
$ni-notification-alert: "\ebd4";
$ni-nuclear: "\eab7";
$ni-numbered-list: "\ea5d";
$ni-observatory: "\eab8";
$ni-octopus: "\e916";
$ni-onigiri: "\ec90";
$ni-open-disk: "\eae7";
$ni-option-horizontal: "\ebce";
$ni-optometry: "\eb25";
$ni-orange-squeezer: "\eb44";
$ni-orbit: "\eab9";
$ni-package: "\ecf7";
$ni-pacman: "\ec53";
$ni-paint-brush: "\e9c8";
$ni-paint-bucket-tool: "\e9ae";
$ni-palette: "\e9c9";
$ni-panda: "\e90e";
$ni-pants: "\ecc4";
$ni-paper-bag: "\ecf2";
$ni-paper-bag-bundle: "\ecf4";
$ni-paper-plane: "\eb85";
$ni-paper-plane-2: "\eb86";
$ni-paragraph: "\ea5e";
$ni-paragraph-capital: "\ea5f";
$ni-paragraph-inline-left-align: "\ea60";
$ni-paragraph-inline-right-align: "\ea61";
$ni-park: "\e986";
$ni-park-sign: "\ea41";
$ni-password-pattern: "\ec37";
$ni-paste: "\ebd7";
$ni-pause: "\eaf6";
$ni-pause-circle: "\eaf5";
$ni-paw: "\e90f";
$ni-pencil: "\e9cc";
$ni-pencil-ui: "\ebda";
$ni-pencil-ui-2: "\ebdb";
$ni-pencil-ui-3: "\ebdc";
$ni-pentool: "\e9cb";
$ni-people: "\e93c";
$ni-people-2: "\e940";
$ni-people-bike: "\ea42";
$ni-people-enter: "\e939";
$ni-people-gesture: "\e93d";
$ni-people-gesture-2: "\e93e";
$ni-people-idea: "\ea19";
$ni-people-walk: "\e941";
$ni-pepper: "\ec91";
$ni-phone: "\eb6f";
$ni-piano: "\eaf7";
$ni-pig: "\e910";
$ni-pin: "\ebde";
$ni-pin-2: "\ebdf";
$ni-pinch: "\ec38";
$ni-pinneaple: "\ec92";
$ni-pipe-game: "\ec58";
$ni-pizza-roller: "\eb46";
$ni-plan-failed: "\e96e";
$ni-plane: "\ea32";
$ni-plant: "\ead1";
$ni-plant-grow: "\ead2";
$ni-plate: "\eb47";
$ni-play: "\eaf9";
$ni-play-circle: "\eaf8";
$ni-playlist: "\eafa";
$ni-pluto: "\eaba";
$ni-police-station: "\e987";
$ni-polygon-tool: "\e9ce";
$ni-popsicle: "\ec93";
$ni-potion: "\eb29";
$ni-potion-health: "\ec59";
$ni-poundsterling: "\e968";
$ni-power: "\eb96";
$ni-present-to-all: "\e99e";
$ni-presentation-down: "\e951";
$ni-presentation-statistic: "\e953";
$ni-presentation-up: "\e952";
$ni-previous-play: "\eafc";
$ni-previous-play-2: "\eafd";
$ni-price-tag-ecommerce: "\ed03";
$ni-price-tag-ecommerce-2: "\ed04";
$ni-price-tag-ui: "\ebe1";
$ni-printer: "\ebe2";
$ni-prism: "\e9d6";
$ni-privacy-tips: "\e99f";
$ni-processor: "\ea7c";
$ni-pumpkin: "\ec2b";
$ni-puzzle: "\ec5a";
$ni-qr-code: "\e9a0";
$ni-queue: "\eafe";
$ni-quote: "\ea62";
$ni-rabbit: "\e911";
$ni-radio: "\eaff";
$ni-radio-2: "\eb00";
$ni-radio-signal: "\eb01";
$ni-rain: "\e9f6";
$ni-rain-2: "\e9f7";
$ni-rain-cloud: "\e9e1";
$ni-rain-cloud-moon: "\e9ec";
$ni-rain-drop: "\e9e8";
$ni-rainbow: "\e9f9";
$ni-rainbow-cloud: "\e9e2";
$ni-rainbow-cloud-2: "\e9f8";
$ni-real-estate: "\e988";
$ni-rectangle-tool: "\e9cf";
$ni-recycle: "\e931";
$ni-referral: "\e969";
$ni-refresh: "\e932";
$ni-refresh-rectangle-ui: "\ebe5";
$ni-refresh-rectangle-ui-2: "\ebe6";
$ni-refrigerator: "\eb48";
$ni-reload: "\ebe7";
$ni-reload-2: "\ebea";
$ni-reload-left-rectangle: "\e933";
$ni-reload-rectangle: "\ebe8";
$ni-reload-rectangle-2: "\ebe9";
$ni-reload-right-rectangle: "\e934";
$ni-remove: "\ebcf";
$ni-remove-bracket: "\ecad";
$ni-remove-call: "\eb6e";
$ni-remove-circle: "\ebd0";
$ni-remove-file: "\eca6";
$ni-remove-folder: "\ecae";
$ni-remove-group: "\ea1b";
$ni-remove-lg: "\ebd1";
$ni-remove-price-tag: "\ed05";
$ni-remove-profile: "\ea1c";
$ni-rewards-game: "\ec5b";
$ni-rice-bowl: "\ec7f";
$ni-rice-cooker: "\eb42";
$ni-ring: "\eccb";
$ni-robot: "\eabb";
$ni-rocket: "\eabc";
$ni-rocket-2: "\eabd";
$ni-rocket-3: "\eabe";
$ni-room-lamp: "\ec70";
$ni-rose: "\ead4";
$ni-rose-2: "\ead5";
$ni-rounded-rectangle-tool: "\e9d0";
$ni-rugby: "\eaa3";
$ni-rugby-helmet: "\ea9f";
$ni-ruler: "\e9d1";
$ni-ruler-pencil: "\e9d2";
$ni-running: "\eaa4";
$ni-sad-emoji: "\eceb";
$ni-sad-emoji-2: "\ecec";
$ni-sandals: "\eccc";
$ni-satellite: "\eabf";
$ni-saturn: "\eac0";
$ni-save: "\ebec";
$ni-scales: "\eb2a";
$ni-scan-barcode: "\ec39";
$ni-scroll-vertical-ui: "\ebed";
$ni-search: "\ebf2";
$ni-search-2: "\ebef";
$ni-seen: "\ebe4";
$ni-seen-2: "\ebf3";
$ni-seen-3: "\ebf4";
$ni-select-all: "\e9a1";
$ni-seo: "\e9a7";
$ni-settings: "\e9a2";
$ni-settings-ui: "\ebf6";
$ni-share: "\ebf8";
$ni-share-bracket: "\ebf7";
$ni-shark: "\e912";
$ni-shield-game: "\ec5c";
$ni-ship: "\ea44";
$ni-shooter: "\eac1";
$ni-shopping-bag-ecommerce: "\ecb2";
$ni-shopping-bag-ui: "\eb5f";
$ni-shopping-bundle: "\ecf3";
$ni-short-pants: "\ecc5";
$ni-show-keyboard: "\ea63";
$ni-shower: "\ec71";
$ni-shrimp1: "\e913";
$ni-signal-observatory: "\eac2";
$ni-single-instrument: "\eaf3";
$ni-single-instrument-2: "\eaf4";
$ni-skateboard: "\ea45";
$ni-skirt: "\ecce";
$ni-skull-head: "\ec5d";
$ni-skullcaps: "\ecbf";
$ni-skyscrapers: "\e989";
$ni-slider-horizontal: "\eb54";
$ni-slider-horizontal-2: "\eb56";
$ni-slider-vertical: "\eb55";
$ni-slider-vertical-2: "\eb57";
$ni-slipper: "\eccf";
$ni-smartphone: "\ea82";
$ni-smartphone-2: "\ea83";
$ni-smartphone-3: "\ea84";
$ni-smartphone-4: "\ea85";
$ni-smartphone-camera: "\ea7f";
$ni-smartphone-landscape-mode: "\ea81";
$ni-smartphone-landscape-mode-lock: "\ea80";
$ni-smartphone-settings: "\ea7e";
$ni-smartwatch: "\ea86";
$ni-smartwatch-2: "\ea87";
$ni-smile-emoji: "\eced";
$ni-smile-no-face-emoji: "\ecee";
$ni-sneakers: "\ecd0";
$ni-snooze: "\ebfe";
$ni-snowflake: "\e9fb";
$ni-snowman: "\ec2c";
$ni-soccer: "\eaa5";
$ni-socks: "\ec2d";
$ni-socks-fashion: "\ecd1";
$ni-sofa: "\ec72";
$ni-soul: "\ec5e";
$ni-spatula: "\eb4a";
$ni-spatula-2: "\eb4b";
$ni-spatula-3: "\eb4c";
$ni-speaker: "\eb02";
$ni-speaker-2: "\eb03";
$ni-speedometer: "\ec01";
$ni-spellcheck: "\ea64";
$ni-spider: "\e914";
$ni-spider-insect: "\ec2f";
$ni-spider-web: "\ec2e";
$ni-spoon-fork: "\ec94";
$ni-sports-vitamin: "\ea97";
$ni-sports-vitamin-2: "\eaab";
$ni-squid: "\e915";
$ni-stadium: "\eaa6";
$ni-star-people: "\ea1d";
$ni-stars: "\ec02";
$ni-statistic-dashboard: "\e96c";
$ni-statistic-down: "\e96a";
$ni-statistic-up: "\e96b";
$ni-steering-wheel: "\ea38";
$ni-stethoscope: "\eb2c";
$ni-stone: "\ead3";
$ni-stop: "\eb06";
$ni-stop-circle: "\eb05";
$ni-stopwatch: "\eb7f";
$ni-store-2: "\ec03";
$ni-store-love: "\ecff";
$ni-store-sign: "\ed07";
$ni-store-stars: "\ecfe";
$ni-strategy-failed: "\e96f";
$ni-strategy-success: "\e96d";
$ni-strawberry: "\ec95";
$ni-street: "\ea46";
$ni-street-warning: "\ea49";
$ni-strikethrough: "\ea65";
$ni-subscript: "\ea66";
$ni-sun: "\e9ff";
$ni-sun-cloud: "\e9e3";
$ni-sun-space: "\eac3";
$ni-sunrise: "\e9fe";
$ni-sunrise-2: "\ea00";
$ni-sunrise-3: "\ea01";
$ni-sunset: "\ea02";
$ni-sunset-2: "\ea03";
$ni-sunset-3: "\ea04";
$ni-superscript: "\ea67";
$ni-swimming-pool: "\eaa7";
$ni-swipe-down: "\ec3a";
$ni-swipe-left: "\ec3b";
$ni-swipe-left-finger: "\ec3f";
$ni-swipe-left-hand: "\ec41";
$ni-swipe-left-three-hands: "\ec43";
$ni-swipe-right: "\ec3c";
$ni-swipe-right-finger: "\ec40";
$ni-swipe-right-hand: "\ec3e";
$ni-swipe-right-three-hands: "\ec44";
$ni-swipe-up: "\ec3d";
$ni-sword: "\ec5f";
$ni-syringe: "\eb2d";
$ni-t-shirt: "\ecb8";
$ni-t-shirt-2: "\ecd3";
$ni-table: "\ec74";
$ni-tablet: "\ea89";
$ni-tablet-settings: "\ea88";
$ni-tap: "\ec42";
$ni-target: "\ec05";
$ni-taxi: "\ea47";
$ni-tea: "\ec86";
$ni-tea-leaf: "\ead6";
$ni-telescope: "\eac4";
$ni-television: "\ea8a";
$ni-television-table: "\ec75";
$ni-temple: "\e98a";
$ni-tennis: "\eaa8";
$ni-tetris: "\ec60";
$ni-text-color: "\ea68";
$ni-text-spacing-horizontal: "\ea69";
$ni-text-spacing-vertical: "\ea6a";
$ni-thermometer: "\ea05";
$ni-thermometer-2: "\ea08";
$ni-thermometer-low: "\ea07";
$ni-thermometer-max: "\ea06";
$ni-thermometer-max-2: "\ea09";
$ni-thumbs-up: "\ec06";
$ni-thunder: "\e9e4";
$ni-tick-circle: "\eb7b";
$ni-ticket: "\ed08";
$ni-tie: "\ecd2";
$ni-time-sand: "\ec07";
$ni-timeline: "\e9a3";
$ni-tissue: "\eb4d";
$ni-to-do-list: "\ebbe";
$ni-to-do-list-2: "\ebbf";
$ni-to-do-list-3: "\ebc0";
$ni-toggle-switch: "\ec04";
$ni-toilet: "\ec76";
$ni-toilet-squat: "\ec77";
$ni-toll: "\e9a4";
$ni-tongue-emoji: "\ecf0";
$ni-tooth: "\eb14";
$ni-top-up: "\ed09";
$ni-torii-gate: "\e98b";
$ni-tornado: "\ea0a";
$ni-touch: "\ec45";
$ni-touch-2: "\ec46";
$ni-tournament-bracket: "\eaa9";
$ni-track: "\e9a5";
$ni-train: "\ea48";
$ni-transform-ui: "\ebd8";
$ni-tree: "\ead7";
$ni-tree-2: "\ead8";
$ni-tree-3: "\ead9";
$ni-tree-4: "\eada";
$ni-tree-41: "\eadb";
$ni-tree-5: "\eadc";
$ni-tree-6: "\eadd";
$ni-triangle-tool: "\e9d5";
$ni-trim: "\e9b3";
$ni-trophy: "\eaaa";
$ni-tube: "\e9db";
$ni-turtle: "\e917";
$ni-tuxedo: "\e970";
$ni-tuxedo-2: "\e971";
$ni-tuxedo-fashion: "\ecd4";
$ni-tuxedo-fashion-2: "\ecd5";
$ni-tuxedo-fashion-3: "\ecd6";
$ni-tuxedo-fashion-4: "\ecd7";
$ni-tuxedo-fashion-5: "\ecd8";
$ni-ufo: "\ea3b";
$ni-ufo-2: "\eac5";
$ni-ulcer: "\eb2e";
$ni-ulekan: "\eb38";
$ni-umbrella-holiday: "\ec31";
$ni-umbrella-weather: "\ea0b";
$ni-underline: "\ea6c";
$ni-underwear: "\ecd9";
$ni-underwear-2: "\ecda";
$ni-unique-glasses: "\ecbd";
$ni-unite: "\e9d7";
$ni-unlock-password: "\ec0b";
$ni-unlock-password1: "\ec0a";
$ni-up-file: "\ecaf";
$ni-upload: "\ec0d";
$ni-upload-bracket: "\ec0c";
$ni-user: "\ea26";
$ni-user-2: "\ea27";
$ni-user-3: "\ea28";
$ni-user-4: "\ea1a";
$ni-user-circle: "\ea25";
$ni-user-down: "\ea23";
$ni-user-information: "\ea1f";
$ni-user-location: "\ea20";
$ni-user-profile-card: "\ea22";
$ni-user-settings: "\ea21";
$ni-user-up: "\ea24";
$ni-user-verified: "\ea2a";
$ni-user-voice: "\ea29";
$ni-user-woman: "\ea2b";
$ni-user-woman-2: "\ea2e";
$ni-user-woman-3: "\ea2f";
$ni-user-woman-4: "\ea30";
$ni-user-woman-circle: "\ea2c";
$ni-username: "\ea4a";
$ni-venus: "\eac6";
$ni-verified-folder: "\ecb0";
$ni-vertical-align-bottom: "\e9d8";
$ni-vertical-align-center: "\e9d9";
$ni-vertical-align-top: "\e9da";
$ni-vertical-scroll: "\e936";
$ni-vertical-split: "\e9a6";
$ni-vest: "\ecdb";
$ni-virus: "\eb27";
$ni-volleyball: "\ec32";
$ni-volume: "\e9c7";
$ni-volume-max: "\eb08";
$ni-volume-max-2: "\eb0b";
$ni-volume-mute: "\eb09";
$ni-volume1: "\eb0a";
$ni-wallet: "\e972";
$ni-wallet-ecommerce: "\ed0a";
$ni-warning-circle: "\ec0e";
$ni-warning-file: "\eca7";
$ni-watch: "\ecdc";
$ni-watermelon: "\ec96";
$ni-website-article: "\e9a8";
$ni-weightlifting: "\ea9e";
$ni-weightlifting-2: "\eaac";
$ni-whale: "\e918";
$ni-wheat: "\eade";
$ni-wheelchair: "\e938";
$ni-wifi: "\ec10";
$ni-wifi-2: "\ec11";
$ni-wind: "\ea0d";
$ni-wind-turbin: "\ea0c";
$ni-wine: "\ec97";
$ni-winner: "\eaad";
$ni-witch: "\ec2a";
$ni-woman: "\e944";
$ni-woman-bag: "\ecb1";
$ni-woman-bag1: "\ecf5";
$ni-woman-boots: "\ecdd";
$ni-woman-dress: "\ecba";
$ni-woman-face: "\ea2d";
$ni-woman-face-scanner: "\eb9a";
$ni-woman-gesture: "\e945";
$ni-woman-symbol: "\eb2f";
$ni-wonder-emoji: "\ecf1";
$ni-wood: "\eadf";
$ni-work-bag: "\e973";
$ni-work-bag-2: "\e974";
$ni-work-bag-3: "\e975";
$ni-work-bag-4: "\e976";
$ni-workflow: "\e9a9";
$ni-writing: "\eb91";
$ni-yen: "\e977";
$ni-zombie: "\ec33";
$ni-zoom-in: "\ebf0";
$ni-zoom-in-2: "\ec14";
$ni-zoom-out: "\ebf1";
$ni-zoom-out-2: "\ec15";
$ni-zoom-out-arrow: "\ec47";

