$icomoon-font-family: "neuicons" !default;
$icomoon-font-path: "fonts" !default;

$neu-ac: "\ec61";
$neu-accessibility: "\e93f";
$neu-activity: "\eb4f";
$neu-add: "\ebe0";
$neu-add-bracket: "\ec98";
$neu-add-call: "\eb6c";
$neu-add-circle: "\eb50";
$neu-add-file: "\eca2";
$neu-add-folder: "\ec99";
$neu-add-group: "\ea0e";
$neu-add-lg: "\eb4e";
$neu-add-node: "\e98c";
$neu-add-price-tag: "\ed01";
$neu-add-profile: "\ea0f";
$neu-adjustment-horizontal: "\eb51";
$neu-adjustment-horizontal-2: "\eb53";
$neu-adjustment-horizontal-3: "\ebfc";
$neu-adjustment-vertical: "\eb52";
$neu-adjustment-vertical-2: "\eb58";
$neu-adjustment-vertical-3: "\ebfd";
$neu-affiliate: "\e946";
$neu-affiliate-2: "\e947";
$neu-affiliate-3: "\e948";
$neu-air-baloon: "\ea31";
$neu-airplane: "\ea43";
$neu-airplay: "\eb59";
$neu-alarm: "\eb7d";
$neu-alert: "\ebd5";
$neu-alert-off: "\ebd2";
$neu-alien: "\eaae";
$neu-align-center: "\ea4b";
$neu-align-justify: "\ea5a";
$neu-align-left: "\ea4c";
$neu-align-right: "\ea4d";
$neu-all-out: "\e98d";
$neu-alphabet: "\ea55";
$neu-ambulance: "\eb0e";
$neu-amusement-park: "\e978";
$neu-anchor: "\eb5a";
$neu-android: "\ea6d";
$neu-anemometer: "\e9dc";
$neu-animation: "\e98e";
$neu-announcer: "\eb04";
$neu-announcer-ui: "\ebff";
$neu-announcer-ui-2: "\ec00";
$neu-apartment: "\e979";
$neu-apartment-hotel: "\e97a";
$neu-apple: "\ec7a";
$neu-apron: "\eb30";
$neu-archive: "\eb5b";
$neu-arrow: "\e9aa";
$neu-arrow-down-lg: "\e91b";
$neu-arrow-down-md: "\e91a";
$neu-arrow-down-sm: "\e919";
$neu-arrow-down-triangle: "\e92f";
$neu-arrow-left-lg: "\e925";
$neu-arrow-left-md: "\e926";
$neu-arrow-left-sm: "\e927";
$neu-arrow-left-triangle: "\e92e";
$neu-arrow-right-lg: "\e92a";
$neu-arrow-right-md: "\e929";
$neu-arrow-right-sm: "\e928";
$neu-arrow-right-triangle: "\e930";
$neu-arrow-turn-left: "\e921";
$neu-arrow-turn-left-rectangle: "\e92c";
$neu-arrow-turn-right: "\e920";
$neu-arrow-turn-right-rectangle: "\e92b";
$neu-arrow-up-lg: "\e91e";
$neu-arrow-up-md: "\e91d";
$neu-arrow-up-sm: "\e91c";
$neu-arrow-up-triangle: "\e92d";
$neu-asteroid: "\eaaf";
$neu-astronaut: "\eab0";
$neu-attachment: "\eb5c";
$neu-attachment-2: "\eb5d";
$neu-audio: "\eae3";
$neu-audio-beat: "\eae5";
$neu-audio-ui: "\eb5e";
$neu-audio-wave: "\eae4";
$neu-audio-wave-2: "\eb0c";
$neu-avocado: "\ec7b";
$neu-baby: "\ea10";
$neu-bacon: "\ec7c";
$neu-bacon-2: "\ec7d";
$neu-badminton: "\ea8c";
$neu-badminton-ball: "\ea8b";
$neu-balloon: "\ec16";
$neu-band-aid: "\eb0f";
$neu-band-aid-2: "\eb10";
$neu-bank: "\e949";
$neu-bar: "\eb60";
$neu-bar-2: "\eb61";
$neu-bar-3: "\ebfa";
$neu-bar-4: "\ebfb";
$neu-barbecue: "\eb31";
$neu-barbecue-2: "\eb32";
$neu-barcode: "\ecf6";
$neu-baseball: "\ea8d";
$neu-basket: "\eb62";
$neu-basketball: "\ea8e";
$neu-basketball-jersey: "\ecc6";
$neu-basketball-ring: "\ea8f";
$neu-bat: "\e900";
$neu-bath-tube: "\ec62";
$neu-battery-charging: "\eb63";
$neu-battery-full: "\eb65";
$neu-battery-half: "\eb64";
$neu-beach-table: "\ec78";
$neu-bear: "\e901";
$neu-bed: "\ec63";
$neu-beer-glass: "\ec89";
$neu-belt: "\ecb3";
$neu-bike: "\ea33";
$neu-bike-2: "\ea34";
$neu-bikini: "\ecb4";
$neu-bill: "\e94a";
$neu-billiard: "\ea90";
$neu-binary: "\e98f";
$neu-bird: "\e908";
$neu-black-pepper: "\eb45";
$neu-blackhole: "\eab1";
$neu-blank: "\e9ac";
$neu-blank-canvas: "\e950";
$neu-blank-file: "\eca4";
$neu-blender: "\eb33";
$neu-blind-eyes: "\e937";
$neu-blink-eye-emoji: "\ecde";
$neu-block-toys: "\ec49";
$neu-blood: "\eb11";
$neu-bluetooth: "\eb66";
$neu-boat: "\ea35";
$neu-bold: "\ea4e";
$neu-bomb: "\ec4a";
$neu-bone: "\e902";
$neu-bone1: "\ec17";
$neu-book: "\eb68";
$neu-book-open: "\eb67";
$neu-book-open-file: "\ec9a";
$neu-bookmark: "\eb69";
$neu-bookmark1: "\ec9b";
$neu-boots: "\ecb5";
$neu-bottle: "\ec7e";
$neu-bowl: "\eb34";
$neu-bowling: "\ea92";
$neu-bowling-ball: "\ea91";
$neu-bowtie: "\ecb6";
$neu-bowtie-holiday: "\ec18";
$neu-box-shipping: "\ecf8";
$neu-box-vacuum: "\eab2";
$neu-boxing: "\ea93";
$neu-boy: "\ea18";
$neu-bra: "\ecb7";
$neu-braidshirt: "\eccd";
$neu-brain: "\eb12";
$neu-bread: "\ec80";
$neu-bread-toaster: "\eb35";
$neu-brightness: "\eb6a";
$neu-browse: "\eb6b";
$neu-browse-2: "\ebee";
$neu-brush: "\e9ad";
$neu-bucket: "\eb36";
$neu-building: "\e97b";
$neu-bulleted-list: "\ea4f";
$neu-bulleted-list-2: "\ea50";
$neu-burger: "\ec81";
$neu-bus: "\ea36";
$neu-bus-front: "\ea37";
$neu-cabin-house: "\e97c";
$neu-calculator: "\e94f";
$neu-calling: "\eb6d";
$neu-camera: "\eb70";
$neu-candle: "\ec19";
$neu-capsule: "\eb13";
$neu-capture: "\e9af";
$neu-capture1: "\eb71";
$neu-car: "\ea39";
$neu-car-box-shipping: "\ed06";
$neu-car-front: "\ea3a";
$neu-car-wheel: "\ea94";
$neu-card-game: "\ec4b";
$neu-cart: "\eb72";
$neu-cart-2: "\eb73";
$neu-cash: "\e954";
$neu-cassette-tape: "\eae6";
$neu-cassette-tape-2: "\eb07";
$neu-cast: "\eb74";
$neu-cat: "\e903";
$neu-celsius: "\e9dd";
$neu-chair: "\ec65";
$neu-chair-rounded: "\ec66";
$neu-chart-pie: "\e956";
$neu-chart-pie-ui: "\ebdd";
$neu-chat: "\eb76";
$neu-chat-bubble: "\eb75";
$neu-chat-bubble-plain: "\eb77";
$neu-chat-plain: "\eb78";
$neu-chat-plain-2: "\eb79";
$neu-check: "\eb7a";
$neu-cheer-up-emoji: "\ecdf";
$neu-chef-hat: "\eb37";
$neu-chemical: "\eb28";
$neu-cherry: "\ec82";
$neu-chess-castle: "\e955";
$neu-chess-pioneer: "\ec4c";
$neu-chevron: "\e91f";
$neu-chicken: "\e904";
$neu-christmas-lamp: "\ec28";
$neu-christmas-tree: "\ec30";
$neu-church: "\e97d";
$neu-city-building: "\e97e";
$neu-clock-2: "\eb7e";
$neu-close: "\ec12";
$neu-close-circle: "\ec13";
$neu-close-lg: "\eb80";
$neu-cloud-landscape: "\e9e5";
$neu-cloud-moon: "\e9e0";
$neu-cloud-rain: "\e9f3";
$neu-cloud-rain-2: "\e9f4";
$neu-cloud-rain-3: "\e9f5";
$neu-cloud-snow: "\e9fa";
$neu-cloud-ui: "\eb81";
$neu-cloud-weather: "\e9de";
$neu-cloud-weather-2: "\e9e6";
$neu-clover: "\eacb";
$neu-cmd: "\eb82";
$neu-code: "\ea51";
$neu-coffee: "\eb39";
$neu-coffee-cup: "\ec83";
$neu-coffee1: "\ec85";
$neu-coffin: "\ec1a";
$neu-coin: "\e957";
$neu-coin-2: "\e958";
$neu-collapse: "\ebf9";
$neu-color-hex: "\e9b0";
$neu-comet: "\eab3";
$neu-company: "\e97f";
$neu-compare: "\e990";
$neu-compass: "\eb83";
$neu-compress: "\e9b1";
$neu-computer-settings: "\ea6e";
$neu-cone: "\ec84";
$neu-contact-book: "\e959";
$neu-cool-emoji: "\ece0";
$neu-cool-emoji-2: "\ecef";
$neu-copy: "\eb84";
$neu-corgi: "\e907";
$neu-couch: "\ec73";
$neu-couple: "\e93b";
$neu-couple-love: "\ea11";
$neu-cow: "\e905";
$neu-crab: "\e906";
$neu-credit-card: "\ecfa";
$neu-credit-card-2: "\ecfb";
$neu-crescent: "\e9ea";
$neu-cricket: "\ea95";
$neu-crop: "\e9b2";
$neu-crown: "\ec4e";
$neu-cupboard: "\ec67";
$neu-cupboard-2: "\ec68";
$neu-cupboard-3: "\ec6a";
$neu-cupboard-4: "\ec6b";
$neu-cupboard-long: "\ec69";
$neu-customer-service: "\ea1e";
$neu-cut: "\eb87";
$neu-cvv: "\ecf9";
$neu-dashboard-layout: "\e991";
$neu-data-check: "\e992";
$neu-data-transfer: "\ea6f";
$neu-data-usage: "\e993";
$neu-database: "\ea70";
$neu-database-settings: "\ea78";
$neu-database-ui: "\ebf5";
$neu-date: "\eb88";
$neu-day-rain: "\e9fd";
$neu-day-storm: "\e9fc";
$neu-dead-emoji: "\ece1";
$neu-decoration: "\ec1b";
$neu-delete: "\eb89";
$neu-delete-2: "\ec08";
$neu-delete-3: "\ec09";
$neu-delete-file: "\eca3";
$neu-delete-folder: "\ec9c";
$neu-delete-node: "\e994";
$neu-delete-price-tag: "\ed02";
$neu-delete-profile: "\ea12";
$neu-description: "\eb8a";
$neu-description-2: "\eb8b";
$neu-devil-emoji: "\ece2";
$neu-diagram-venn: "\e995";
$neu-diamond-game: "\ec4f";
$neu-diamond-jewel: "\ecb9";
$neu-direction-move: "\ec34";
$neu-disappointed-emoji: "\ece3";
$neu-discount: "\e95a";
$neu-dish: "\eb3a";
$neu-disk: "\eb8c";
$neu-display-capture: "\ebeb";
$neu-divide: "\e9b4";
$neu-dna: "\eb15";
$neu-doctor: "\eb17";
$neu-doctor-bag: "\eb16";
$neu-document-approved: "\e95b";
$neu-document-office: "\e95c";
$neu-documents: "\eca8";
$neu-dog: "\ec23";
$neu-dollar: "\e95d";
$neu-donut: "\ec87";
$neu-door: "\ec6c";
$neu-download: "\eb8e";
$neu-download-bracket: "\eb8d";
$neu-drag-indicator: "\e996";
$neu-drawer: "\e95e";
$neu-drawer-file: "\ec9f";
$neu-drawer-file-2: "\eca0";
$neu-drawer-file-3: "\eca1";
$neu-drawing-tablet: "\ea71";
$neu-drone: "\ea72";
$neu-drop: "\ec0f";
$neu-drugs: "\eb19";
$neu-earphone: "\eae8";
$neu-earrings: "\ecbb";
$neu-earth: "\eab4";
$neu-easter-egg: "\ec1c";
$neu-easter-egg-2: "\ec1d";
$neu-easter-egg-3: "\ec1e";
$neu-easter-egg-4: "\ec1f";
$neu-easter-egg-5: "\ec20";
$neu-eclipse-tool: "\e9b5";
$neu-edit: "\ea53";
$neu-edit-circle-ui: "\ebd9";
$neu-edit-path: "\e9b6";
$neu-edit-profile: "\ea13";
$neu-edit-stroke: "\e9ca";
$neu-edit-text: "\ea52";
$neu-edit-ui: "\eb90";
$neu-edit-ui-2: "\eb92";
$neu-egg: "\ec88";
$neu-email: "\eb93";
$neu-emoji: "\eb94";
$neu-energy: "\eb95";
$neu-energy-drink: "\ea96";
$neu-envelope: "\e95f";
$neu-equalizer: "\eae9";
$neu-escalator-down: "\e942";
$neu-escalator-up: "\e943";
$neu-euro: "\e960";
$neu-expand-lg: "\e924";
$neu-expand-md: "\e923";
$neu-expand-sm: "\e922";
$neu-expand-user: "\ea14";
$neu-extension: "\e997";
$neu-external: "\eb97";
$neu-external-link: "\ebbc";
$neu-eye: "\eb99";
$neu-eye-glasses: "\ecbc";
$neu-eye-off: "\eb98";
$neu-eye-patch-emoji: "\ecea";
$neu-eye-plus: "\e93a";
$neu-eyedropper-tool: "\e9b7";
$neu-face-scanner: "\eb9b";
$neu-face-scanner-2: "\eb9c";
$neu-factory: "\e980";
$neu-fahrenheit: "\e9e9";
$neu-faq: "\ebe3";
$neu-faq-file: "\eca5";
$neu-favorite-profile: "\ea17";
$neu-feather: "\eac7";
$neu-fencing: "\ea98";
$neu-ferris-wheel: "\e985";
$neu-file-check: "\ec9d";
$neu-file-down: "\ec9e";
$neu-file-plain-ui: "\eb9e";
$neu-file-structure: "\e9c4";
$neu-file-structure-2: "\e9c5";
$neu-file-ui: "\eb9d";
$neu-filter-descending: "\eb9f";
$neu-filter-descending-2: "\eba0";
$neu-filter-tube: "\eba1";
$neu-fingerprint: "\eba2";
$neu-finish-flag: "\ea99";
$neu-fire: "\ec50";
$neu-fire-camp: "\eac8";
$neu-fireworks: "\ec21";
$neu-fish: "\e90a";
$neu-fish-bone: "\e909";
$neu-flag-finish: "\ea9a";
$neu-flag-ui: "\eba3";
$neu-flag-ui-2: "\eba4";
$neu-flame: "\eac9";
$neu-flower: "\eaca";
$neu-folder-file: "\eca9";
$neu-folder-structure: "\e9c6";
$neu-folder-ui: "\eba5";
$neu-font: "\ea6b";
$neu-font-size: "\ea54";
$neu-font-size1: "\ea56";
$neu-food-scale: "\eb49";
$neu-football-arena: "\ea9b";
$neu-free-transform: "\e9d4";
$neu-gallery: "\e9cd";
$neu-gallery-2: "\ea58";
$neu-gallery-ui: "\ebb1";
$neu-game-console: "\ec51";
$neu-game-console-2: "\ec52";
$neu-game-controller: "\ec4d";
$neu-gas-station: "\ea3c";
$neu-geek-emoji: "\ece4";
$neu-ghost: "\ec54";
$neu-gift: "\eba6";
$neu-gift-box: "\ec24";
$neu-glass: "\eb3b";
$neu-glass-food: "\ec8a";
$neu-glass-holiday: "\ec25";
$neu-glass-wine: "\eb3c";
$neu-globe: "\e961";
$neu-glove: "\ec26";
$neu-gold: "\e962";
$neu-golf: "\ea9c";
$neu-golf-stick: "\ea9d";
$neu-grape: "\ec8b";
$neu-grater: "\eb3d";
$neu-grave: "\ec27";
$neu-grocery-bag: "\ecfc";
$neu-group: "\ea16";
$neu-group-chat: "\ea15";
$neu-half-moon: "\e9ed";
$neu-hamburger-menu: "\eba7";
$neu-hand-gesture-ui: "\eba8";
$neu-happy-emoji: "\ece5";
$neu-happy-new-year: "\ec22";
$neu-hat: "\ecbe";
$neu-health-scanner: "\eb2b";
$neu-heart-rate: "\eb0d";
$neu-heart-rate1: "\eb1a";
$neu-helicopter: "\ea3d";
$neu-helmet: "\ea3e";
$neu-helmet-2: "\ea3f";
$neu-helmet-game: "\ec55";
$neu-help: "\ebbb";
$neu-hide-keyboard: "\ea57";
$neu-high-heels: "\ecc0";
$neu-hockey: "\eaa0";
$neu-hold: "\ec35";
$neu-hold-hand-ui: "\ebaa";
$neu-holiday-bag: "\ec29";
$neu-home: "\ebab";
$neu-home-2: "\ebac";
$neu-home-3: "\ebad";
$neu-home-4: "\ebae";
$neu-home-5: "\ebaf";
$neu-hoodie: "\ecc1";
$neu-horizontal-align-center: "\e9b8";
$neu-horizontal-align-left: "\e9b9";
$neu-horizontal-align-right: "\e9ba";
$neu-horizontal-scroll: "\e935";
$neu-horizontal-split: "\e998";
$neu-hospital: "\eb1b";
$neu-hospital-2: "\eb1c";
$neu-hotdog: "\ec8c";
$neu-hotel: "\e963";
$neu-hue-saturation: "\e9bb";
$neu-humidity: "\e9e7";
$neu-ice-coffee: "\ec8d";
$neu-image: "\e9bc";
$neu-inbox: "\eb8f";
$neu-information: "\ebb2";
$neu-information-triangle: "\eba9";
$neu-instrument: "\eaea";
$neu-intersect: "\e9bd";
$neu-intestine: "\eb1d";
$neu-investment-grow: "\e964";
$neu-invoice: "\e965";
$neu-invoice-payment: "\ecfd";
$neu-ipad: "\ea73";
$neu-iron: "\ecc3";
$neu-italic: "\ea59";
$neu-karaoke-mic: "\eaeb";
$neu-karaoke-mic-2: "\eaed";
$neu-ketchup: "\eb3e";
$neu-kettle: "\eb3f";
$neu-keyboard: "\ea5b";
$neu-kids-emoji: "\ece6";
$neu-knife: "\eb40";
$neu-knife-fork: "\ec8e";
$neu-ladle: "\eb41";
$neu-lamp: "\ec6d";
$neu-lamp-2: "\ec6e";
$neu-landmark: "\e981";
$neu-laptop: "\ea76";
$neu-laptop-2: "\ea77";
$neu-laptop-settings: "\ea74";
$neu-laptop-settings-2: "\ea75";
$neu-laundry: "\ec79";
$neu-law: "\e966";
$neu-layer: "\ebb3";
$neu-layout-grid: "\ebb4";
$neu-layout-grid-2: "\ebb5";
$neu-layout-grid-3: "\ebb6";
$neu-layout-grid-4: "\ebb7";
$neu-layout-grid-5: "\ebb8";
$neu-leaderboard-game: "\ec56";
$neu-leaf: "\eacc";
$neu-leaf-2: "\eacd";
$neu-leaf-3: "\eace";
$neu-leaf-ui: "\ebb9";
$neu-leaf-ui-2: "\ebba";
$neu-lemon: "\ec8f";
$neu-level-up: "\ec48";
$neu-library: "\ec64";
$neu-light-bulb: "\e94d";
$neu-light-bulb-creative: "\e94c";
$neu-light-bulb-electric: "\e94b";
$neu-light-bulb-on: "\e94e";
$neu-line: "\e9be";
$neu-link: "\ebbd";
$neu-link-2: "\ebb0";
$neu-lipstick: "\ecc7";
$neu-list: "\ea5c";
$neu-loading-2: "\ebc1";
$neu-loading-time: "\eb7c";
$neu-loafers: "\ecc9";
$neu-location: "\ebc2";
$neu-location-2: "\ebc3";
$neu-lock: "\ebc4";
$neu-lock-2: "\ebc5";
$neu-login: "\ebc7";
$neu-login-bracket: "\ebc6";
$neu-logout: "\ebc9";
$neu-logout-bracket: "\ebc8";
$neu-loop: "\ebca";
$neu-lotus: "\eacf";
$neu-love: "\ebcb";
$neu-love-emoji: "\ece7";
$neu-lungs: "\eb1f";
$neu-magic-wand: "\e9d3";
$neu-magnet: "\e9bf";
$neu-mail: "\ebcc";
$neu-make-up: "\ecc8";
$neu-make-up-mirror: "\ec6f";
$neu-man-symbol: "\eb20";
$neu-maple-leaf: "\ead0";
$neu-market: "\ebcd";
$neu-mask-emoji: "\ece8";
$neu-mathematical-anchor: "\e9c0";
$neu-medal: "\eaa1";
$neu-medal-2: "\eaa2";
$neu-media-file: "\ecac";
$neu-medical: "\eb24";
$neu-medical-bill: "\eb1e";
$neu-medical-box: "\eb22";
$neu-medical-circle: "\eb23";
$neu-medical-kit: "\eb21";
$neu-medicine: "\eb18";
$neu-mesh: "\e9c1";
$neu-microphone: "\eae2";
$neu-microphone-2: "\eaec";
$neu-microphone-3: "\eaee";
$neu-microphone-4: "\eafb";
$neu-microwave: "\eb43";
$neu-mindmap: "\e999";
$neu-minus-front: "\e9c2";
$neu-missing: "\e9c3";
$neu-mobile-pattern-password: "\ebd6";
$neu-molecule: "\eb26";
$neu-money: "\e967";
$neu-money-cash: "\ed00";
$neu-monitor: "\ea79";
$neu-monitor-2: "\ea7a";
$neu-monitor-3: "\ea7d";
$neu-monkey: "\e90b";
$neu-monkey-2: "\e90c";
$neu-monkey-3: "\e90d";
$neu-monument: "\e982";
$neu-moon: "\e9ee";
$neu-moon-landing: "\eab5";
$neu-moon-space: "\eab6";
$neu-more-horizontal: "\e99c";
$neu-more-vertical: "\e99d";
$neu-mosque: "\e983";
$neu-mosque-2: "\e984";
$neu-motorcycle: "\ea40";
$neu-mouse: "\ea7b";
$neu-move: "\ec36";
$neu-mushroom: "\ec57";
$neu-music-album: "\eae0";
$neu-music-album-2: "\eae1";
$neu-music-note: "\eaf1";
$neu-music-note-2: "\eaf2";
$neu-mustache-emoji: "\ece9";
$neu-nat: "\e99a";
$neu-necklace: "\ecca";
$neu-new-artboard: "\e9ab";
$neu-new-moon: "\e9eb";
$neu-next-play: "\eaef";
$neu-next-play-2: "\eaf0";
$neu-night-cloud: "\e9df";
$neu-night-rain: "\e9f1";
$neu-night-stars: "\e9ef";
$neu-night-storm: "\e9f0";
$neu-night-storm-2: "\e9f2";
$neu-no-iron: "\ecc2";
$neu-node: "\e99b";
$neu-note: "\ecaa";
$neu-note-detail: "\ecab";
$neu-notification: "\ebd3";
$neu-notification-alert: "\ebd4";
$neu-nuclear: "\eab7";
$neu-numbered-list: "\ea5d";
$neu-observatory: "\eab8";
$neu-octopus: "\e916";
$neu-onigiri: "\ec90";
$neu-open-disk: "\eae7";
$neu-option-horizontal: "\ebce";
$neu-optometry: "\eb25";
$neu-orange-squeezer: "\eb44";
$neu-orbit: "\eab9";
$neu-package: "\ecf7";
$neu-pacman: "\ec53";
$neu-paint-brush: "\e9c8";
$neu-paint-bucket-tool: "\e9ae";
$neu-palette: "\e9c9";
$neu-panda: "\e90e";
$neu-pants: "\ecc4";
$neu-paper-bag: "\ecf2";
$neu-paper-bag-bundle: "\ecf4";
$neu-paper-plane: "\eb85";
$neu-paper-plane-2: "\eb86";
$neu-paragraph: "\ea5e";
$neu-paragraph-capital: "\ea5f";
$neu-paragraph-inline-left-align: "\ea60";
$neu-paragraph-inline-right-align: "\ea61";
$neu-park: "\e986";
$neu-park-sign: "\ea41";
$neu-password-pattern: "\ec37";
$neu-paste: "\ebd7";
$neu-pause: "\eaf6";
$neu-pause-circle: "\eaf5";
$neu-paw: "\e90f";
$neu-pencil: "\e9cc";
$neu-pencil-ui: "\ebda";
$neu-pencil-ui-2: "\ebdb";
$neu-pencil-ui-3: "\ebdc";
$neu-pentool: "\e9cb";
$neu-people: "\e93c";
$neu-people-2: "\e940";
$neu-people-bike: "\ea42";
$neu-people-enter: "\e939";
$neu-people-gesture: "\e93d";
$neu-people-gesture-2: "\e93e";
$neu-people-idea: "\ea19";
$neu-people-walk: "\e941";
$neu-pepper: "\ec91";
$neu-phone: "\eb6f";
$neu-piano: "\eaf7";
$neu-pig: "\e910";
$neu-pin: "\ebde";
$neu-pin-2: "\ebdf";
$neu-pinch: "\ec38";
$neu-pinneaple: "\ec92";
$neu-pipe-game: "\ec58";
$neu-pizza-roller: "\eb46";
$neu-plan-failed: "\e96e";
$neu-plane: "\ea32";
$neu-plant: "\ead1";
$neu-plant-grow: "\ead2";
$neu-plate: "\eb47";
$neu-play: "\eaf9";
$neu-play-circle: "\eaf8";
$neu-playlist: "\eafa";
$neu-pluto: "\eaba";
$neu-police-station: "\e987";
$neu-polygon-tool: "\e9ce";
$neu-popsicle: "\ec93";
$neu-potion: "\eb29";
$neu-potion-health: "\ec59";
$neu-poundsterling: "\e968";
$neu-power: "\eb96";
$neu-present-to-all: "\e99e";
$neu-presentation-down: "\e951";
$neu-presentation-statistic: "\e953";
$neu-presentation-up: "\e952";
$neu-previous-play: "\eafc";
$neu-previous-play-2: "\eafd";
$neu-price-tag-ecommerce: "\ed03";
$neu-price-tag-ecommerce-2: "\ed04";
$neu-price-tag-ui: "\ebe1";
$neu-printer: "\ebe2";
$neu-prism: "\e9d6";
$neu-privacy-tips: "\e99f";
$neu-processor: "\ea7c";
$neu-pumpkin: "\ec2b";
$neu-puzzle: "\ec5a";
$neu-qr-code: "\e9a0";
$neu-queue: "\eafe";
$neu-quote: "\ea62";
$neu-rabbit: "\e911";
$neu-radio: "\eaff";
$neu-radio-2: "\eb00";
$neu-radio-signal: "\eb01";
$neu-rain: "\e9f6";
$neu-rain-2: "\e9f7";
$neu-rain-cloud: "\e9e1";
$neu-rain-cloud-moon: "\e9ec";
$neu-rain-drop: "\e9e8";
$neu-rainbow: "\e9f9";
$neu-rainbow-cloud: "\e9e2";
$neu-rainbow-cloud-2: "\e9f8";
$neu-real-estate: "\e988";
$neu-rectangle-tool: "\e9cf";
$neu-recycle: "\e931";
$neu-referral: "\e969";
$neu-refresh: "\e932";
$neu-refresh-rectangle-ui: "\ebe5";
$neu-refresh-rectangle-ui-2: "\ebe6";
$neu-refrigerator: "\eb48";
$neu-reload: "\ebe7";
$neu-reload-2: "\ebea";
$neu-reload-left-rectangle: "\e933";
$neu-reload-rectangle: "\ebe8";
$neu-reload-rectangle-2: "\ebe9";
$neu-reload-right-rectangle: "\e934";
$neu-remove: "\ebcf";
$neu-remove-bracket: "\ecad";
$neu-remove-call: "\eb6e";
$neu-remove-circle: "\ebd0";
$neu-remove-file: "\eca6";
$neu-remove-folder: "\ecae";
$neu-remove-group: "\ea1b";
$neu-remove-lg: "\ebd1";
$neu-remove-price-tag: "\ed05";
$neu-remove-profile: "\ea1c";
$neu-rewards-game: "\ec5b";
$neu-rice-bowl: "\ec7f";
$neu-rice-cooker: "\eb42";
$neu-ring: "\eccb";
$neu-robot: "\eabb";
$neu-rocket: "\eabc";
$neu-rocket-2: "\eabd";
$neu-rocket-3: "\eabe";
$neu-room-lamp: "\ec70";
$neu-rose: "\ead4";
$neu-rose-2: "\ead5";
$neu-rounded-rectangle-tool: "\e9d0";
$neu-rugby: "\eaa3";
$neu-rugby-helmet: "\ea9f";
$neu-ruler: "\e9d1";
$neu-ruler-pencil: "\e9d2";
$neu-running: "\eaa4";
$neu-sad-emoji: "\eceb";
$neu-sad-emoji-2: "\ecec";
$neu-sandals: "\eccc";
$neu-satellite: "\eabf";
$neu-saturn: "\eac0";
$neu-save: "\ebec";
$neu-scales: "\eb2a";
$neu-scan-barcode: "\ec39";
$neu-scroll-vertical-ui: "\ebed";
$neu-search: "\ebf2";
$neu-search-2: "\ebef";
$neu-seen: "\ebe4";
$neu-seen-2: "\ebf3";
$neu-seen-3: "\ebf4";
$neu-select-all: "\e9a1";
$neu-seo: "\e9a7";
$neu-settings: "\e9a2";
$neu-settings-ui: "\ebf6";
$neu-share: "\ebf8";
$neu-share-bracket: "\ebf7";
$neu-shark: "\e912";
$neu-shield-game: "\ec5c";
$neu-ship: "\ea44";
$neu-shooter: "\eac1";
$neu-shopping-bag-ecommerce: "\ecb2";
$neu-shopping-bag-ui: "\eb5f";
$neu-shopping-bundle: "\ecf3";
$neu-short-pants: "\ecc5";
$neu-show-keyboard: "\ea63";
$neu-shower: "\ec71";
$neu-shrimp1: "\e913";
$neu-signal-observatory: "\eac2";
$neu-single-instrument: "\eaf3";
$neu-single-instrument-2: "\eaf4";
$neu-skateboard: "\ea45";
$neu-skirt: "\ecce";
$neu-skull-head: "\ec5d";
$neu-skullcaps: "\ecbf";
$neu-skyscrapers: "\e989";
$neu-slider-horizontal: "\eb54";
$neu-slider-horizontal-2: "\eb56";
$neu-slider-vertical: "\eb55";
$neu-slider-vertical-2: "\eb57";
$neu-slipper: "\eccf";
$neu-smartphone: "\ea82";
$neu-smartphone-2: "\ea83";
$neu-smartphone-3: "\ea84";
$neu-smartphone-4: "\ea85";
$neu-smartphone-camera: "\ea7f";
$neu-smartphone-landscape-mode: "\ea81";
$neu-smartphone-landscape-mode-lock: "\ea80";
$neu-smartphone-settings: "\ea7e";
$neu-smartwatch: "\ea86";
$neu-smartwatch-2: "\ea87";
$neu-smile-emoji: "\eced";
$neu-smile-no-face-emoji: "\ecee";
$neu-sneakers: "\ecd0";
$neu-snooze: "\ebfe";
$neu-snowflake: "\e9fb";
$neu-snowman: "\ec2c";
$neu-soccer: "\eaa5";
$neu-socks: "\ec2d";
$neu-socks-fashion: "\ecd1";
$neu-sofa: "\ec72";
$neu-soul: "\ec5e";
$neu-spatula: "\eb4a";
$neu-spatula-2: "\eb4b";
$neu-spatula-3: "\eb4c";
$neu-speaker: "\eb02";
$neu-speaker-2: "\eb03";
$neu-speedometer: "\ec01";
$neu-spellcheck: "\ea64";
$neu-spider: "\e914";
$neu-spider-insect: "\ec2f";
$neu-spider-web: "\ec2e";
$neu-spoon-fork: "\ec94";
$neu-sports-vitamin: "\ea97";
$neu-sports-vitamin-2: "\eaab";
$neu-squid: "\e915";
$neu-stadium: "\eaa6";
$neu-star-people: "\ea1d";
$neu-stars: "\ec02";
$neu-statistic-dashboard: "\e96c";
$neu-statistic-down: "\e96a";
$neu-statistic-up: "\e96b";
$neu-steering-wheel: "\ea38";
$neu-stethoscope: "\eb2c";
$neu-stone: "\ead3";
$neu-stop: "\eb06";
$neu-stop-circle: "\eb05";
$neu-stopwatch: "\eb7f";
$neu-store-2: "\ec03";
$neu-store-love: "\ecff";
$neu-store-sign: "\ed07";
$neu-store-stars: "\ecfe";
$neu-strategy-failed: "\e96f";
$neu-strategy-success: "\e96d";
$neu-strawberry: "\ec95";
$neu-street: "\ea46";
$neu-street-warning: "\ea49";
$neu-strikethrough: "\ea65";
$neu-subscript: "\ea66";
$neu-sun: "\e9ff";
$neu-sun-cloud: "\e9e3";
$neu-sun-space: "\eac3";
$neu-sunrise: "\e9fe";
$neu-sunrise-2: "\ea00";
$neu-sunrise-3: "\ea01";
$neu-sunset: "\ea02";
$neu-sunset-2: "\ea03";
$neu-sunset-3: "\ea04";
$neu-superscript: "\ea67";
$neu-swimming-pool: "\eaa7";
$neu-swipe-down: "\ec3a";
$neu-swipe-left: "\ec3b";
$neu-swipe-left-finger: "\ec3f";
$neu-swipe-left-hand: "\ec41";
$neu-swipe-left-three-hands: "\ec43";
$neu-swipe-right: "\ec3c";
$neu-swipe-right-finger: "\ec40";
$neu-swipe-right-hand: "\ec3e";
$neu-swipe-right-three-hands: "\ec44";
$neu-swipe-up: "\ec3d";
$neu-sword: "\ec5f";
$neu-syringe: "\eb2d";
$neu-t-shirt: "\ecb8";
$neu-t-shirt-2: "\ecd3";
$neu-table: "\ec74";
$neu-tablet: "\ea89";
$neu-tablet-settings: "\ea88";
$neu-tap: "\ec42";
$neu-target: "\ec05";
$neu-taxi: "\ea47";
$neu-tea: "\ec86";
$neu-tea-leaf: "\ead6";
$neu-telescope: "\eac4";
$neu-television: "\ea8a";
$neu-television-table: "\ec75";
$neu-temple: "\e98a";
$neu-tennis: "\eaa8";
$neu-tetris: "\ec60";
$neu-text-color: "\ea68";
$neu-text-spacing-horizontal: "\ea69";
$neu-text-spacing-vertical: "\ea6a";
$neu-thermometer: "\ea05";
$neu-thermometer-2: "\ea08";
$neu-thermometer-low: "\ea07";
$neu-thermometer-max: "\ea06";
$neu-thermometer-max-2: "\ea09";
$neu-thumbs-up: "\ec06";
$neu-thunder: "\e9e4";
$neu-tick-circle: "\eb7b";
$neu-ticket: "\ed08";
$neu-tie: "\ecd2";
$neu-time-sand: "\ec07";
$neu-timeline: "\e9a3";
$neu-tissue: "\eb4d";
$neu-to-do-list: "\ebbe";
$neu-to-do-list-2: "\ebbf";
$neu-to-do-list-3: "\ebc0";
$neu-toggle-switch: "\ec04";
$neu-toilet: "\ec76";
$neu-toilet-squat: "\ec77";
$neu-toll: "\e9a4";
$neu-tongue-emoji: "\ecf0";
$neu-tooth: "\eb14";
$neu-top-up: "\ed09";
$neu-torii-gate: "\e98b";
$neu-tornado: "\ea0a";
$neu-touch: "\ec45";
$neu-touch-2: "\ec46";
$neu-tournament-bracket: "\eaa9";
$neu-track: "\e9a5";
$neu-train: "\ea48";
$neu-transform-ui: "\ebd8";
$neu-tree: "\ead7";
$neu-tree-2: "\ead8";
$neu-tree-3: "\ead9";
$neu-tree-4: "\eada";
$neu-tree-41: "\eadb";
$neu-tree-5: "\eadc";
$neu-tree-6: "\eadd";
$neu-triangle-tool: "\e9d5";
$neu-trim: "\e9b3";
$neu-trophy: "\eaaa";
$neu-tube: "\e9db";
$neu-turtle: "\e917";
$neu-tuxedo: "\e970";
$neu-tuxedo-2: "\e971";
$neu-tuxedo-fashion: "\ecd4";
$neu-tuxedo-fashion-2: "\ecd5";
$neu-tuxedo-fashion-3: "\ecd6";
$neu-tuxedo-fashion-4: "\ecd7";
$neu-tuxedo-fashion-5: "\ecd8";
$neu-ufo: "\ea3b";
$neu-ufo-2: "\eac5";
$neu-ulcer: "\eb2e";
$neu-ulekan: "\eb38";
$neu-umbrella-holiday: "\ec31";
$neu-umbrella-weather: "\ea0b";
$neu-underline: "\ea6c";
$neu-underwear: "\ecd9";
$neu-underwear-2: "\ecda";
$neu-unique-glasses: "\ecbd";
$neu-unite: "\e9d7";
$neu-unlock-password: "\ec0b";
$neu-unlock-password1: "\ec0a";
$neu-up-file: "\ecaf";
$neu-upload: "\ec0d";
$neu-upload-bracket: "\ec0c";
$neu-user: "\ea26";
$neu-user-2: "\ea27";
$neu-user-3: "\ea28";
$neu-user-4: "\ea1a";
$neu-user-circle: "\ea25";
$neu-user-down: "\ea23";
$neu-user-information: "\ea1f";
$neu-user-location: "\ea20";
$neu-user-profile-card: "\ea22";
$neu-user-settings: "\ea21";
$neu-user-up: "\ea24";
$neu-user-verified: "\ea2a";
$neu-user-voice: "\ea29";
$neu-user-woman: "\ea2b";
$neu-user-woman-2: "\ea2e";
$neu-user-woman-3: "\ea2f";
$neu-user-woman-4: "\ea30";
$neu-user-woman-circle: "\ea2c";
$neu-username: "\ea4a";
$neu-venus: "\eac6";
$neu-verified-folder: "\ecb0";
$neu-vertical-align-bottom: "\e9d8";
$neu-vertical-align-center: "\e9d9";
$neu-vertical-align-top: "\e9da";
$neu-vertical-scroll: "\e936";
$neu-vertical-split: "\e9a6";
$neu-vest: "\ecdb";
$neu-virus: "\eb27";
$neu-volleyball: "\ec32";
$neu-volume: "\e9c7";
$neu-volume-max: "\eb08";
$neu-volume-max-2: "\eb0b";
$neu-volume-mute: "\eb09";
$neu-volume1: "\eb0a";
$neu-wallet: "\e972";
$neu-wallet-ecommerce: "\ed0a";
$neu-warning-circle: "\ec0e";
$neu-warning-file: "\eca7";
$neu-watch: "\ecdc";
$neu-watermelon: "\ec96";
$neu-website-article: "\e9a8";
$neu-weightlifting: "\ea9e";
$neu-weightlifting-2: "\eaac";
$neu-whale: "\e918";
$neu-wheat: "\eade";
$neu-wheelchair: "\e938";
$neu-wifi: "\ec10";
$neu-wifi-2: "\ec11";
$neu-wind: "\ea0d";
$neu-wind-turbin: "\ea0c";
$neu-wine: "\ec97";
$neu-winner: "\eaad";
$neu-witch: "\ec2a";
$neu-woman: "\e944";
$neu-woman-bag: "\ecb1";
$neu-woman-bag1: "\ecf5";
$neu-woman-boots: "\ecdd";
$neu-woman-dress: "\ecba";
$neu-woman-face: "\ea2d";
$neu-woman-face-scanner: "\eb9a";
$neu-woman-gesture: "\e945";
$neu-woman-symbol: "\eb2f";
$neu-wonder-emoji: "\ecf1";
$neu-wood: "\eadf";
$neu-work-bag: "\e973";
$neu-work-bag-2: "\e974";
$neu-work-bag-3: "\e975";
$neu-work-bag-4: "\e976";
$neu-workflow: "\e9a9";
$neu-writing: "\eb91";
$neu-yen: "\e977";
$neu-zombie: "\ec33";
$neu-zoom-in: "\ebf0";
$neu-zoom-in-2: "\ec14";
$neu-zoom-out: "\ebf1";
$neu-zoom-out-2: "\ec15";
$neu-zoom-out-arrow: "\ec47";

